<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <!-- Bootstrap css file v2.2.1 -->
	<link rel="stylesheet" type="text/css" href="stylesheets/bootstrap/bootstrap.css">

	<!--[if lte IE 6]>
	<link rel="stylesheet" type="text/css" href="stylesheets/bootstrap/bootstrap-ie6.css">
	<![endif]-->
	
	<!-- bsie additional css patch -->
	<link rel="stylesheet" type="text/css" href="stylesheets/bootstrap/ie.css">
	<![endif]-->
	
	<!--private css -->
		<link rel="stylesheet" href="stylesheets/front/index.css" />
	<!end-->
	
  </head>
  <body>
	<div class="navbar navbar-fixed-top header">
		<div class="container">
			<a href=""><img src="https://d17f28g3dsa4vh.cloudfront.net/img/kippt-logo-w.png" width="45"></a>
			<a href="#" class="login pull-right">登录</a>
			<span class="divider pull-right">|</span>
			<a href="#" class="rigister pull-right">注册</a>
		</div>
	</div>
	
	<div class="container body">
		
	</div>
	
	
	
	
	
	
	
	
	
	
	
	<script type="text/javascript" src="javascripts/jquery/jquery-1.7.2.min.js"></script>
	<script type="text/javascript" src="javascripts/bootstrap/bootstrap.min.js"></script>
  </body>
</html>