<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <!-- Bootstrap css file v2.2.1 -->
	<link rel="stylesheet" type="text/css" href="stylesheets/bootstrap/bootstrap.css">

	<!--[if lte IE 6]>
	<!-- bsie css patch -->
	<link rel="stylesheet" type="text/css" href="stylesheets/bootstrap/bootstrap-ie6.css">

	<!-- bsie additional css patch -->
	<link rel="stylesheet" type="text/css" href="stylesheets/bootstrap/ie.css">
	<![endif]-->
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
	<div class="btn-group">
	  <button class="btn">Left</button>
	  <button class="btn">Middle</button>
	  <button class="btn">Right</button>
	</div>
	
	
	<div class="btn-group">
	  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
		Action
		<span class="caret"></span>
	  </a>
	  <ul class="dropdown-menu">
		<!-- dropdown menu links -->
		<li><a href="#">Action</a></li>
		<li><a href="#">Action</a></li>
	  </ul>
	</div>
	
	
	
	<ul class="nav nav-tabs">
	  <li class="active">
		<a href="#">index</a>
	  </li>
	  <li><a href="#">second</a></li>
	  <li><a href="#">recharge</a></li>
	</ul>
	
	
	<div class="navbar">
	  <div class="navbar-inner">
		<a class="brand" href="#">Title</a>
		<ul class="nav">
		  <li class="active"><a href="#">index</a></li>
		  <li><a href="#">Link</a></li>
		  <li><a href="#">Link</a></li>
		</ul>
	  </div>
	</div>
	
	
	<ul class="breadcrumb">
	  <li><a href="#">index</a> <span class="divider">/</span></li>
	  <li><a href="#">Library</a> <span class="divider">/</span></li>
	  <li class="active">Data</li>
	</ul>
	
	
	<div class="pagination">
	  <ul>
		<li><a href="#">Prev</a></li>
		<li><a href="#">1</a></li>
		<li><a href="#">2</a></li>
		<li><a href="#">3</a></li>
		<li><a href="#">4</a></li>
		<li><a href="#">5</a></li>
		<li><a href="#">Next</a></li>
	  </ul>
	</div>
	
	
	
	<ul class="thumbnails">
	  <li class="span4">
		<div class="thumbnail">
		  <img data-src="holder.js/300x200" alt="">
		  <h3>Thumbnail label</h3>
		  <p>Thumbnail caption...</p>
		</div>
	  </li>
	  <li class="span4">
		<div class="thumbnail">
		  <img data-src="holder.js/300x200" alt="">
		  <h3>Thumbnail label</h3>
		  <p>Thumbnail caption...</p>
		</div>
	  </li>
	  
	</ul>
	
	
	
	<ul class="nav nav-list">
	  <li class="nav-header">List header</li>
	  <li class="active"><a href="#">index</a></li>
	  <li><a href="#">Library</a></li>
	</ul>
	
	
	
	
	
	
	
	
	
	
	
	
	
	<script type="text/javascript" src="javascripts/jquery/jquery-1.7.2.min.js"></script>
	<script type="text/javascript" src="javascripts/bootstrap/bootstrap.min.js"></script>
  </body>
</html>