<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <!-- Bootstrap css file v2.2.1 -->
	<link rel="stylesheet" type="text/css" href="stylesheets/bootstrap/bootstrap.css">

	<!--[if lte IE 6]>
	<link rel="stylesheet" type="text/css" href="stylesheets/bootstrap/bootstrap-ie6.css">
	<![endif]-->
	
	<!-- bsie additional css patch -->
	<link rel="stylesheet" type="text/css" href="stylesheets/bootstrap/ie.css">
	<![endif]-->
	
	<!--private css -->
		<link rel="stylesheet" href="stylesheets/front/index.css" />
	<!end-->
	
  </head>
  <body>
	<div class="navbar navbar-fixed-top header">
		<div class="container">
			<a href=""><img src="images/kippt-logo-w.png" width="45" height="45" alt="logo"></a>
			<a href="#" class="login pull-right">登录</a>
			<span class="divider pull-right">|</span>
			<a href="#" class="rigister pull-right">注册</a>
		</div>
	</div>
	
	<div class="container body">
		<div class="row">
			<div class="span4 offset4 login-out">
				
				<button type="button" class="close ms-login-colse" data-dismiss="alert">&times;</button>
				<div class="tit-color"></div>
				<div class="tabbable ms-loginwrap">
					
					<div class="tab-content ms-personal">
						<div class="tab-pane active" id="tab1">
							<input class="input-large" type="text" placeholder="邮箱/用户名">
							<p class="text-error ms-tishi"><i class="icon-exclamation-sign"></i>邮箱/用户名不能为空</p>
							<input class="input-large" type="text" placeholder="登录密码">
							<p class="text-error ms-tishi"><i class="icon-exclamation-sign"></i>登录密码不能为空</p>
							<p class="text-right ms-forget"><a href="#">忘记密码？</a>&nbsp;|&nbsp;<a href="#">免费注册</a></p>
							<button type="submit" class="btn span3 btn-primary ms-denglu">登录</button>
							
							
							
							
						</div>
						
						
					</div>
				</div>
			</div>
		</div>
		

		
		
		
		
		
		
		
		
		
		
		
	</div>
	
	
	
	
	
	
	
	
	
	<script type="text/javascript" src="javascripts/jquery/jquery-1.7.2.min.js"></script>
	<script type="text/javascript" src="javascripts/bootstrap/bootstrap.min.js"></script>
  </body>
</html>