<!DOCTYPE html>
<html>
  <head>
    <title>版权模式</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!-- Bootstrap css file v2.2.1 -->
	<link rel="stylesheet" type="text/css" href="stylesheets/bootstrap/bootstrap.css">
	<link rel="stylesheet" href="stylesheets/front/base.css" />
	<link rel="stylesheet" href="stylesheets/front/mode.css" />

	
  </head>
  <body>
	<!-- 头部 -->
	<div class="navbar navbar-fixed-top header">
		<div class="container">
			<a href=""><img class="img_logo" src="images/kippt-logo-w.png" width="45" height="45" alt="logo"></a>
			<a href="#" data-toggle="modal" data-target="#login-modal" class="login pull-right">登录</a>
			<span class="divider pull-right">|</span>
			<a href="#" class="rigister pull-right">注册</a>			
		</div>
	</div>
	
	<!-- 个人简介 -->
	<div class="container body">
		<div id="user_card">
			<div class="maozi"></div>
				<div class="inner clearfix ">			
					<div class="avatar-unit">
						<a href="/qbpwiaxrg6/" title="中传思客" class="img x"><img src="/images/personal/self-max.jpg"></a>
						<div class="counts clearfix">
							<a href="/qbpwiaxrg6/followers/" rel="nofollow" class="followers">
								<div class="num">30</div>
								<div class="sub">作品</div>
							</a>
							<a href="/qbpwiaxrg6/following/" class="follows">
								<div class="num">300</div>
								<div class="sub">积分</div>
							</a>
						</div>
					</div>
					<div class="head-line">
						<div class="name">中传思客</div>
					</div>
					<ul class="introduction"></ul>
					<div class="about clearfix"></div>
					<div class="action-buttons">
						<a href="/settings/" class="btn btn14"><span class="text"> 帐号设置</span></a>
					</div>
					<div class="bindings">
						<a href="http://www.renren.com/profile.do?id=236739284" title="访问中传思客的人人主页" target="_blank" rel="nofollow" class="renren"></a>
					</div>
				</div>
				<div class="side">
					<h4>最近交易</h4>
					<a href="/endrebecca/" class="item x"><img src="/images/personal/gz1.png">Frontier</a>
					<a href="/bigyang/" class="item x"><img src="/images/personal/gz2.jpg">大洋的星球</a>
					<a href="/yybukn/" class="item x"><img src="/images/personal/gz3.png">无敌的被窝君</a>
				</div>
				<div class="tabs">
					<a href="/qbpwiaxrg6/" class="tab">上传作品</a>
					<a href="/qbpwiaxrg6/pins/" class="tab ">我的作品</a>
					<a href="/qbpwiaxrg6/likes/" rel="nofollow" class="tab active">版权模式</a>
					<form id="people_search_item" action="/qbpwiaxrg6/pins/" class="searching-unit" data-regestered="regestered">
					<input value="" name="q" placeholder="搜索我的采集" autocomplete="off">
					<div class="search-hint"></div>
					<a onclick="return false;" class="go"></a>
					</form>
				</div>
			</div>			
	</div>
	<!-- 模式 -->
	<div class="container mode">
		<div class="m-tuijianmd">
			<p class="p1">推荐模式：全自动模式<i class="icon-question-sign"></i><i class="icon-wrench"></i><i class="icon-cog"></i></p>
			<p class="p2">自定义模式：</p>				
		</div>
		<div class="m-add_authorize" id="addBtn">
			<span class="icon"></span>
			<span class="text">授权模式</span>
		</div>
		<div id="m-name">
			<div class="m-add-item">
				<div class="m_title">模式名称:</div>
				<div class="m_content">
					<input class="m-input-title" name="title" type="text"> 
					<input name="isDefault" type="checkbox" class="check_default"><span>默认授权模式<i class="m-star">*</i></span>
				</div>
				<div class="clear"></div>
				<div class="beizhu">
					<div class="m_title">模式名称:</div>
					<textarea name="m-md" id=""></textarea>
					<div class="clear"></div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- add mode -->
	<div class="container">
		<fieldset>
			<legend>版权定价</legend>
			<div class="tabbable tabs-left">
				<ul class="nav nav-tabs">
					<li class=""><a href="#tA" data-toggle="tab">出版发行</a></li>
					<li class="active"><a href="#tB" data-toggle="tab">素材使用</a></li>
					<li class=""><a href="#tC" data-toggle="tab">展览使用</a></li>
					<li class=""><a href="#tD" data-toggle="tab">广告使用</a></li>
					<li class=""><a href="#tE" data-toggle="tab">商品化使用</a></li>
					<li class=""><a href="#tF" data-toggle="tab">出租权</a></li>
					<li class=""><a href="#tG" data-toggle="tab">版权样品使用权</a></li>
					<li class=""><a href="#tH" data-toggle="tab">放映权</a></li>
					<li class=""><a href="#tI" data-toggle="tab">复制权</a></li>
					<li class=""><a href="#tJ" data-toggle="tab">信息网络传播权</a></li>
					<li class=""><a href="#tK" data-toggle="tab">原品交易权</a></li>
					<li class=""><a href="#tL" data-toggle="tab">汇编权</a></li>
					<li class=""><a href="#tM" data-toggle="tab">其他</a></li>
				</ul>
				<div class="tab-content">
					<!-- 出版发行 -->
					<div class="tab-pane sqset" id="tA">
						<div class="set-cq">
							<label class="checkbox">
							  <input type="checkbox" value="" name="A001">全部
							</label>
							<p class="set-content">
								该授权方式允许使用者将作品用于互联网、移动互联网、无线新媒体等各类新媒体中的使用，包括电
								子图书、报纸、期刊等电子版本的出版发行，使用者在不损害作品完整性的前提下可以对作品进行必要的改动，但
								该使用仅限在授权期限内一次性编辑使用，如需再次编辑使
								用需要另行获取授权。该使用不包括广告目的之使用，如需广告使用，需要另行获取广告授权。
							</p>
							<label class="select set-year">
								<span>授权地域:</span>
								<select>
								  <option>中国</option>
								  <option>德国</option>
								  <option>法国</option>
								</select>
							</label>
							<label class="select set-year">
								<span>授权年限:</span>
								<select>
								  <option>1年</option>
								  <option>2年</option>
								  <option>3年</option>
								  <option>4年</option>
								  <option>5年</option>
								</select>
								<a href="#">增加规格</a>
							</label>
							<label class="select set-year">
								<span>授权规格:</span>
								<select>
								  <option>原图尺寸</option>
								  <option>M</option>
								  <option>L</option>
								  <option>XL</option>
								  <option>XXL</option>
								</select>
							</label>
							
							<label class="select set-year">
								<span>使用方式:</span>
								<select>
								  <option>一次</option>
								  <option>两次</option>
								  <option>多次</option>
								</select>
							</label>
							<label class="select set-year">
								<span>授权价格:</span>
								<input type="text" class="set-sprice"/>
							</label>
						</div>
						<!-- 图书印刷出版发行部分 -->
						<div class="set-c1">
							<label class="checkbox set-c1">
							  <input type="checkbox" value="" name="A001">期刊印刷出版发行
							</label>
							<p class="set-content">
								该授权方式允许使用者将作品用于互联网、移动互联网、无线新媒体等各类新媒体中的使用，包括电
								子图书、报纸、期刊等电子版本的出版发行，使用者在不损害作品完整性的前提下可以对作品进行必要的改动，但
								该使用仅限在授权期限内一次性编辑使用，如需再次编辑使
								用需要另行获取授权。该使用不包括广告目的之使用，如需广告使用，需要另行获取广告授权。
							</p>
							<label class="select set-year">
								<span>授权地域:</span>
								<select>
								  <option>中国</option>
								  <option>德国</option>
								  <option>法国</option>
								</select>
							</label>
							<label class="select set-year">
								<span>授权年限:</span>
								<select>
								  <option>1年</option>
								  <option>2年</option>
								  <option>3年</option>
								  <option>4年</option>
								  <option>5年</option>
								</select>
								<a href="#">增加规格</a>
							</label>
							<label class="select set-year">
								<span>授权规格:</span>
								<select>
								  <option>原图尺寸</option>
								  <option>M</option>
								  <option>L</option>
								  <option>XL</option>
								  <option>XXL</option>
								</select>
							</label>
							<label class="select set-year">
								<span>使用方式:</span>
								<select>
								  <option>一次</option>
								  <option>两次</option>
								  <option>多次</option>
								</select>
							</label>
							<label class="select set-year">
								<span>授权价格:</span>
								<input type="text" class="set-sprice"/>
							</label>
						</div>
						<div class="set-c1">
							<label class="checkbox">
							  <input type="checkbox" value="" name="A001">报纸印刷出版发行
							</label>
							<p class="set-content">
								该授权方式允许使用者将作品用于互联网、移动互联网、无线新媒体等各类新媒体中的使用，包括电
								子图书、报纸、期刊等电子版本的出版发行，使用者在不损害作品完整性的前提下可以对作品进行必要的改动，但
								该使用仅限在授权期限内一次性编辑使用，如需再次编辑使
								用需要另行获取授权。该使用不包括广告目的之使用，如需广告使用，需要另行获取广告授权。
							</p>
							<label class="select set-year">
								<span>授权地域:</span>
								<select>
								  <option>中国</option>
								  <option>德国</option>
								  <option>法国</option>
								</select>
							</label>
							<label class="select set-year">
								<span>授权年限:</span>
								<select>
								  <option>1年</option>
								  <option>2年</option>
								  <option>3年</option>
								  <option>4年</option>
								  <option>5年</option>
								</select>
								<a href="#">增加规格</a>
							</label>
							<label class="select set-year">
								<span>授权规格:</span>
								<select>
								  <option>原图尺寸</option>
								  <option>M</option>
								  <option>L</option>
								  <option>XL</option>
								  <option>XXL</option>
								</select>
							</label>
							<label class="select set-year">
								<span>使用方式:</span>
								<select>
								  <option>一次</option>
								  <option>两次</option>
								  <option>多次</option>
								</select>
							</label>
							<label class="select set-year">
								<span>授权价格:</span>
								<input type="text" class="set-sprice"/>
							</label>
						</div>
						<div class="set-c1">
							<label class="checkbox">
							  <input type="checkbox" value="" name="A001">电子出版发行
							</label>
							<p class="set-content">
								该授权方式允许使用者将作品用于互联网、移动互联网、无线新媒体等各类新媒体中的使用，包括电
								子图书、报纸、期刊等电子版本的出版发行，使用者在不损害作品完整性的前提下可以对作品进行必要的改动，但
								该使用仅限在授权期限内一次性编辑使用，如需再次编辑使
								用需要另行获取授权。该使用不包括广告目的之使用，如需广告使用，需要另行获取广告授权。
							</p>
							<label class="select set-year">
								<span>授权地域:</span>
								<select>
								  <option>中国</option>
								  <option>德国</option>
								  <option>法国</option>
								</select>
							</label>
							<label class="select set-year">
								<span>授权年限:</span>
								<select>
								  <option>1年</option>
								  <option>2年</option>
								  <option>3年</option>
								  <option>4年</option>
								  <option>5年</option>
								</select>
								<a href="#">增加规格</a>
							</label>
							<label class="select set-year">
								<span>授权规格:</span>
								<select>
								  <option>原图尺寸</option>
								  <option>M</option>
								  <option>L</option>
								  <option>XL</option>
								  <option>XXL</option>
								</select>
							</label>
							<label class="select set-year">
								<span>使用方式:</span>
								<select>
								  <option>一次</option>
								  <option>两次</option>
								  <option>多次</option>
								</select>
							</label>
							<label class="select set-year">
								<span>授权价格:</span>
								<input type="text" class="set-sprice"/>
							</label>
						</div>	
						
					</div>
					<!-- 素材使用 -->
					<div class="tab-pane sqset active" id="tB">
						<div class="set-cq">
							<label class="checkbox">
							  <input type="checkbox" value="" name="A001">全部
							</label>
							<p class="set-content">
								该授权方式允许使用者将作品用于互联网、移动互联网、无线新媒体等各类新媒体中的使用，包括电
								子图书、报纸、期刊等电子版本的出版发行，使用者在不损害作品完整性的前提下可以对作品进行必要的改动，但
								该使用仅限在授权期限内一次性编辑使用，如需再次编辑使
								用需要另行获取授权。该使用不包括广告目的之使用，如需广告使用，需要另行获取广告授权。
							</p>
							<label class="select set-year">
								<span>授权地域:</span>
								<select>
								  <option>中国</option>
								  <option>德国</option>
								  <option>法国</option>
								</select>
							</label>
							<label class="select set-year">
								<span>授权年限:</span>
								<select>
								  <option>1年</option>
								  <option>2年</option>
								  <option>3年</option>
								  <option>4年</option>
								  <option>5年</option>
								</select>
								<a href="#">增加规格</a>
							</label>
							<label class="select set-year">
								<span>授权规格:</span>
								<select>
								  <option>原图尺寸</option>
								  <option>M</option>
								  <option>L</option>
								  <option>XL</option>
								  <option>XXL</option>
								</select>
							</label>
							
							<label class="select set-year">
								<span>使用方式:</span>
								<select>
								  <option>一次</option>
								  <option>两次</option>
								  <option>多次</option>
								</select>
							</label>
							<label class="select set-year">
								<span>授权价格:</span>
								<input type="text" class="set-sprice"/>
							</label>
						</div>
						<!-- 图书印刷出版发行部分 -->
						<div class="set-c1">
							<label class="checkbox set-c1">
							  <input type="checkbox" value="" name="A001">设计素材使用
							</label>
							<p class="set-content">
								该授权方式允许使用者将作品用于互联网、移动互联网、无线新媒体等各类新媒体中的使用，包括电
								子图书、报纸、期刊等电子版本的出版发行，使用者在不损害作品完整性的前提下可以对作品进行必要的改动，但
								该使用仅限在授权期限内一次性编辑使用，如需再次编辑使
								用需要另行获取授权。该使用不包括广告目的之使用，如需广告使用，需要另行获取广告授权。
							</p>
							<label class="select set-year">
								<span>授权地域:</span>
								<select>
								  <option>中国</option>
								  <option>德国</option>
								  <option>法国</option>
								</select>
							</label>
							<label class="select set-year">
								<span>授权年限:</span>
								<select>
								  <option>1年</option>
								  <option>2年</option>
								  <option>3年</option>
								  <option>4年</option>
								  <option>5年</option>
								</select>
								<a href="#">增加规格</a>
							</label>
							<label class="select set-year">
								<span>授权规格:</span>
								<select>
								  <option>原图尺寸</option>
								  <option>M</option>
								  <option>L</option>
								  <option>XL</option>
								  <option>XXL</option>
								</select>
							</label>
							<label class="select set-year">
								<span>使用方式:</span>
								<select>
								  <option>一次</option>
								  <option>两次</option>
								  <option>多次</option>
								</select>
							</label>
							<label class="select set-year">
								<span>授权价格:</span>
								<input type="text" class="set-sprice"/>
							</label>
						</div>
						<div class="set-c1">
							<label class="checkbox">
							  <input type="checkbox" value="" name="A001">影视、动漫、游戏素材使用
							</label>
							<p class="set-content">
								该授权方式允许使用者将作品用于互联网、移动互联网、无线新媒体等各类新媒体中的使用，包括电
								子图书、报纸、期刊等电子版本的出版发行，使用者在不损害作品完整性的前提下可以对作品进行必要的改动，但
								该使用仅限在授权期限内一次性编辑使用，如需再次编辑使
								用需要另行获取授权。该使用不包括广告目的之使用，如需广告使用，需要另行获取广告授权。
							</p>
							<label class="select set-year">
								<span>授权地域:</span>
								<select>
								  <option>中国</option>
								  <option>德国</option>
								  <option>法国</option>
								</select>
							</label>
							<label class="select set-year">
								<span>授权年限:</span>
								<select>
								  <option>1年</option>
								  <option>2年</option>
								  <option>3年</option>
								  <option>4年</option>
								  <option>5年</option>
								</select>
								<a href="#">增加规格</a>
							</label>
							<label class="select set-year">
								<span>授权规格:</span>
								<select>
								  <option>原图尺寸</option>
								  <option>M</option>
								  <option>L</option>
								  <option>XL</option>
								  <option>XXL</option>
								</select>
							</label>
							<label class="select set-year">
								<span>使用方式:</span>
								<select>
								  <option>一次</option>
								  <option>两次</option>
								  <option>多次</option>
								</select>
							</label>
							<label class="select set-year">
								<span>授权价格:</span>
								<input type="text" class="set-sprice"/>
							</label>
						</div>
						<div class="set-c1">
							<label class="checkbox">
							  <input type="checkbox" value="" name="A001">网站使用
							</label>
							<p class="set-content">
								该授权方式允许使用者将作品用于互联网、移动互联网、无线新媒体等各类新媒体中的使用，包括电
								子图书、报纸、期刊等电子版本的出版发行，使用者在不损害作品完整性的前提下可以对作品进行必要的改动，但
								该使用仅限在授权期限内一次性编辑使用，如需再次编辑使
								用需要另行获取授权。该使用不包括广告目的之使用，如需广告使用，需要另行获取广告授权。
							</p>
							<label class="select set-year">
								<span>授权地域:</span>
								<select>
								  <option>中国</option>
								  <option>德国</option>
								  <option>法国</option>
								</select>
							</label>
							<label class="select set-year">
								<span>授权年限:</span>
								<select>
								  <option>1年</option>
								  <option>2年</option>
								  <option>3年</option>
								  <option>4年</option>
								  <option>5年</option>
								</select>
								<a href="#">增加规格</a>
							</label>
							<label class="select set-year">
								<span>授权规格:</span>
								<select>
								  <option>原图尺寸</option>
								  <option>M</option>
								  <option>L</option>
								  <option>XL</option>
								  <option>XXL</option>
								</select>
							</label>
							<label class="select set-year">
								<span>使用方式:</span>
								<select>
								  <option>一次</option>
								  <option>两次</option>
								  <option>多次</option>
								</select>
							</label>
							<label class="select set-year">
								<span>授权价格:</span>
								<input type="text" class="set-sprice"/>
							</label>
						</div>
					</div>
					<!-- 展览使用 -->
					<div class="tab-pane sqset" id="tC">
						<div class="set-c1">
							<label class="checkbox">
							  <input type="checkbox" value="" name="A001">全部
							</label>
							<p class="set-content">
								该授权方式允许使用者将作品用于互联网、移动互联网、无线新媒体等各类新媒体中的使用，包括电
								子图书、报纸、期刊等电子版本的出版发行，使用者在不损害作品完整性的前提下可以对作品进行必要的改动，但
								该使用仅限在授权期限内一次性编辑使用，如需再次编辑使
								用需要另行获取授权。该使用不包括广告目的之使用，如需广告使用，需要另行获取广告授权。
							</p>
							<label class="select set-year">
								<span>授权地域:</span>
								<select>
								  <option>中国</option>
								  <option>德国</option>
								  <option>法国</option>
								</select>
							</label>
							<label class="select set-year">
								<span>授权年限:</span>
								<select>
								  <option>1年</option>
								  <option>2年</option>
								  <option>3年</option>
								  <option>4年</option>
								  <option>5年</option>
								</select>
								<a href="#">增加规格</a>
							</label>
							<label class="select set-year">
								<span>授权规格:</span>
								<select>
								  <option>原图尺寸</option>
								  <option>M</option>
								  <option>L</option>
								  <option>XL</option>
								  <option>XXL</option>
								</select>
							</label>
							<label class="select set-year">
								<span>使用方式:</span>
								<select>
								  <option>一次</option>
								  <option>两次</option>
								  <option>多次</option>
								</select>
							</label>
							<label class="select set-year">
								<span>授权价格:</span>
								<input type="text" class="set-sprice"/>
							</label>
						</div>
					</div>
					<!-- 广告使用 -->
					<div class="tab-pane sqset" id="tD">
						<div class="set-c1">
							<label class="checkbox">
							  <input type="checkbox" value="" name="A001">全部
							</label>
							<p class="set-content">
								该授权方式允许使用者将作品用于互联网、移动互联网、无线新媒体等各类新媒体中的使用，包括电
								子图书、报纸、期刊等电子版本的出版发行，使用者在不损害作品完整性的前提下可以对作品进行必要的改动，但
								该使用仅限在授权期限内一次性编辑使用，如需再次编辑使
								用需要另行获取授权。该使用不包括广告目的之使用，如需广告使用，需要另行获取广告授权。
							</p>
							<label class="select set-year">
								<span>授权地域:</span>
								<select>
								  <option>中国</option>
								  <option>德国</option>
								  <option>法国</option>
								</select>
							</label>
							<label class="select set-year">
								<span>授权年限:</span>
								<select>
								  <option>1年</option>
								  <option>2年</option>
								  <option>3年</option>
								  <option>4年</option>
								  <option>5年</option>
								</select>
								<a href="#">增加规格</a>
							</label>
							<label class="select set-year">
								<span>授权规格:</span>
								<select>
								  <option>原图尺寸</option>
								  <option>M</option>
								  <option>L</option>
								  <option>XL</option>
								  <option>XXL</option>
								</select>
							</label>
							<label class="select set-year">
								<span>使用方式:</span>
								<select>
								  <option>一次</option>
								  <option>两次</option>
								  <option>多次</option>
								</select>
							</label>
							<label class="select set-year">
								<span>授权价格:</span>
								<input type="text" class="set-sprice"/>
							</label>
						</div>
						<div class="set-c1">
							<label class="checkbox">
							  <input type="checkbox" value="" name="A001">平面媒体广告
							</label>
							<p class="set-content">
								该授权方式允许使用者将作品用于互联网、移动互联网、无线新媒体等各类新媒体中的使用，包括电
								子图书、报纸、期刊等电子版本的出版发行，使用者在不损害作品完整性的前提下可以对作品进行必要的改动，但
								该使用仅限在授权期限内一次性编辑使用，如需再次编辑使
								用需要另行获取授权。该使用不包括广告目的之使用，如需广告使用，需要另行获取广告授权。
							</p>
							<label class="select set-year">
								<span>授权地域:</span>
								<select>
								  <option>中国</option>
								  <option>德国</option>
								  <option>法国</option>
								</select>
							</label>
							<label class="select set-year">
								<span>授权年限:</span>
								<select>
								  <option>1年</option>
								  <option>2年</option>
								  <option>3年</option>
								  <option>4年</option>
								  <option>5年</option>
								</select>
								<a href="#">增加规格</a>
							</label>
							<label class="select set-year">
								<span>授权规格:</span>
								<select>
								  <option>原图尺寸</option>
								  <option>M</option>
								  <option>L</option>
								  <option>XL</option>
								  <option>XXL</option>
								</select>
							</label>
							<label class="select set-year">
								<span>使用方式:</span>
								<select>
								  <option>一次</option>
								  <option>两次</option>
								  <option>多次</option>
								</select>
							</label>
							<label class="select set-year">
								<span>授权价格:</span>
								<input type="text" class="set-sprice"/>
							</label>
						</div>
						<div class="set-c1">
							<label class="checkbox">
							  <input type="checkbox" value="" name="A001">互联网、无线新媒体广告
							</label>
							<p class="set-content">
								该授权方式允许使用者将作品用于互联网、移动互联网、无线新媒体等各类新媒体中的使用，包括电
								子图书、报纸、期刊等电子版本的出版发行，使用者在不损害作品完整性的前提下可以对作品进行必要的改动，但
								该使用仅限在授权期限内一次性编辑使用，如需再次编辑使
								用需要另行获取授权。该使用不包括广告目的之使用，如需广告使用，需要另行获取广告授权。
							</p>
							<label class="select set-year">
								<span>授权地域:</span>
								<select>
								  <option>中国</option>
								  <option>德国</option>
								  <option>法国</option>
								</select>
							</label>
							<label class="select set-year">
								<span>授权年限:</span>
								<select>
								  <option>1年</option>
								  <option>2年</option>
								  <option>3年</option>
								  <option>4年</option>
								  <option>5年</option>
								</select>
								<a href="#">增加规格</a>
							</label>
							<label class="select set-year">
								<span>授权规格:</span>
								<select>
								  <option>原图尺寸</option>
								  <option>M</option>
								  <option>L</option>
								  <option>XL</option>
								  <option>XXL</option>
								</select>
							</label>
							<label class="select set-year">
								<span>使用方式:</span>
								<select>
								  <option>一次</option>
								  <option>两次</option>
								  <option>多次</option>
								</select>
							</label>
							<label class="select set-year">
								<span>授权价格:</span>
								<input type="text" class="set-sprice"/>
							</label>
						</div>
						<div class="set-c1">
							<label class="checkbox">
							  <input type="checkbox" value="" name="A001">电视广告
							</label>
							<p class="set-content">
								该授权方式允许使用者将作品用于互联网、移动互联网、无线新媒体等各类新媒体中的使用，包括电
								子图书、报纸、期刊等电子版本的出版发行，使用者在不损害作品完整性的前提下可以对作品进行必要的改动，但
								该使用仅限在授权期限内一次性编辑使用，如需再次编辑使
								用需要另行获取授权。该使用不包括广告目的之使用，如需广告使用，需要另行获取广告授权。
							</p>
							<label class="select set-year">
								<span>授权地域:</span>
								<select>
								  <option>中国</option>
								  <option>德国</option>
								  <option>法国</option>
								</select>
							</label>
							<label class="select set-year">
								<span>授权年限:</span>
								<select>
								  <option>1年</option>
								  <option>2年</option>
								  <option>3年</option>
								  <option>4年</option>
								  <option>5年</option>
								</select>
								<a href="#">增加规格</a>
							</label>
							<label class="select set-year">
								<span>授权规格:</span>
								<select>
								  <option>原图尺寸</option>
								  <option>M</option>
								  <option>L</option>
								  <option>XL</option>
								  <option>XXL</option>
								</select>
							</label>
							<label class="select set-year">
								<span>使用方式:</span>
								<select>
								  <option>一次</option>
								  <option>两次</option>
								  <option>多次</option>
								</select>
							</label>
							<label class="select set-year">
								<span>授权价格:</span>
								<input type="text" class="set-sprice"/>
							</label>
						</div>
						<div class="set-c1">
							<label class="checkbox">
							  <input type="checkbox" value="" name="A001">户外广告
							</label>
							<p class="set-content">
								该授权方式允许使用者将作品用于互联网、移动互联网、无线新媒体等各类新媒体中的使用，包括电
								子图书、报纸、期刊等电子版本的出版发行，使用者在不损害作品完整性的前提下可以对作品进行必要的改动，但
								该使用仅限在授权期限内一次性编辑使用，如需再次编辑使
								用需要另行获取授权。该使用不包括广告目的之使用，如需广告使用，需要另行获取广告授权。
							</p>
							<label class="select set-year">
								<span>授权地域:</span>
								<select>
								  <option>中国</option>
								  <option>德国</option>
								  <option>法国</option>
								</select>
							</label>
							<label class="select set-year">
								<span>授权年限:</span>
								<select>
								  <option>1年</option>
								  <option>2年</option>
								  <option>3年</option>
								  <option>4年</option>
								  <option>5年</option>
								</select>
								<a href="#">增加规格</a>
							</label>
							<label class="select set-year">
								<span>授权规格:</span>
								<select>
								  <option>原图尺寸</option>
								  <option>M</option>
								  <option>L</option>
								  <option>XL</option>
								  <option>XXL</option>
								</select>
							</label>
							<label class="select set-year">
								<span>使用方式:</span>
								<select>
								  <option>一次</option>
								  <option>两次</option>
								  <option>多次</option>
								</select>
							</label>
							<label class="select set-year">
								<span>授权价格:</span>
								<input type="text" class="set-sprice"/>
							</label>
						</div>
						<div class="set-c1">
							<label class="checkbox">
							  <input type="checkbox" value="" name="A001">院线广告
							</label>
							<p class="set-content">
								该授权方式允许使用者将作品用于互联网、移动互联网、无线新媒体等各类新媒体中的使用，包括电
								子图书、报纸、期刊等电子版本的出版发行，使用者在不损害作品完整性的前提下可以对作品进行必要的改动，但
								该使用仅限在授权期限内一次性编辑使用，如需再次编辑使
								用需要另行获取授权。该使用不包括广告目的之使用，如需广告使用，需要另行获取广告授权。
							</p>
							<label class="select set-year">
								<span>授权地域:</span>
								<select>
								  <option>中国</option>
								  <option>德国</option>
								  <option>法国</option>
								</select>
							</label>
							<label class="select set-year">
								<span>授权年限:</span>
								<select>
								  <option>1年</option>
								  <option>2年</option>
								  <option>3年</option>
								  <option>4年</option>
								  <option>5年</option>
								</select>
								<a href="#">增加规格</a>
							</label>
							<label class="select set-year">
								<span>授权规格:</span>
								<select>
								  <option>原图尺寸</option>
								  <option>M</option>
								  <option>L</option>
								  <option>XL</option>
								  <option>XXL</option>
								</select>
							</label>
							<label class="select set-year">
								<span>使用方式:</span>
								<select>
								  <option>一次</option>
								  <option>两次</option>
								  <option>多次</option>
								</select>
							</label>
							<label class="select set-year">
								<span>授权价格:</span>
								<input type="text" class="set-sprice"/>
							</label>
						</div>
						
					</div>
					<!-- 商品化使用 -->
					<div class="tab-pane sqset" id="tE">
						<div class="set-c1">
							<label class="checkbox">
							  <input type="checkbox" value="" name="A001">全部
							</label>
							<p class="set-content">
								该授权方式允许使用者将作品用于互联网、移动互联网、无线新媒体等各类新媒体中的使用，包括电
								子图书、报纸、期刊等电子版本的出版发行，使用者在不损害作品完整性的前提下可以对作品进行必要的改动，但
								该使用仅限在授权期限内一次性编辑使用，如需再次编辑使
								用需要另行获取授权。该使用不包括广告目的之使用，如需广告使用，需要另行获取广告授权。
							</p>
							<label class="select set-year">
								<span>授权地域:</span>
								<select>
								  <option>中国</option>
								  <option>德国</option>
								  <option>法国</option>
								</select>
							</label>
							<label class="select set-year">
								<span>授权年限:</span>
								<select>
								  <option>1年</option>
								  <option>2年</option>
								  <option>3年</option>
								  <option>4年</option>
								  <option>5年</option>
								</select>
								<a href="#">增加规格</a>
							</label>
							<label class="select set-year">
								<span>授权规格:</span>
								<select>
								  <option>原图尺寸</option>
								  <option>M</option>
								  <option>L</option>
								  <option>XL</option>
								  <option>XXL</option>
								</select>
							</label>
							<label class="select set-year">
								<span>使用方式:</span>
								<select>
								  <option>一次</option>
								  <option>两次</option>
								  <option>多次</option>
								</select>
							</label>
							<label class="select set-year">
								<span>授权价格:</span>
								<input type="text" class="set-sprice"/>
							</label>
						</div>
						<div class="set-c1">
							<label class="checkbox">
							  <input type="checkbox" value="" name="A001">服装类商品
							</label>
							<p class="set-content">
								该授权方式允许使用者将作品用于互联网、移动互联网、无线新媒体等各类新媒体中的使用，包括电
								子图书、报纸、期刊等电子版本的出版发行，使用者在不损害作品完整性的前提下可以对作品进行必要的改动，但
								该使用仅限在授权期限内一次性编辑使用，如需再次编辑使
								用需要另行获取授权。该使用不包括广告目的之使用，如需广告使用，需要另行获取广告授权。
							</p>
							<label class="select set-year">
								<span>授权地域:</span>
								<select>
								  <option>中国</option>
								  <option>德国</option>
								  <option>法国</option>
								</select>
							</label>
							<label class="select set-year">
								<span>授权年限:</span>
								<select>
								  <option>1年</option>
								  <option>2年</option>
								  <option>3年</option>
								  <option>4年</option>
								  <option>5年</option>
								</select>
								<a href="#">增加规格</a>
							</label>
							<label class="select set-year">
								<span>授权规格:</span>
								<select>
								  <option>原图尺寸</option>
								  <option>M</option>
								  <option>L</option>
								  <option>XL</option>
								  <option>XXL</option>
								</select>
							</label>
							<label class="select set-year">
								<span>使用方式:</span>
								<select>
								  <option>一次</option>
								  <option>两次</option>
								  <option>多次</option>
								</select>
							</label>
							<label class="select set-year">
								<span>授权价格:</span>
								<input type="text" class="set-sprice"/>
							</label>
						</div>
						<div class="set-c1">
							<label class="checkbox">
							  <input type="checkbox" value="" name="A001">玩具类商品
							</label>
							<p class="set-content">
								该授权方式允许使用者将作品用于互联网、移动互联网、无线新媒体等各类新媒体中的使用，包括电
								子图书、报纸、期刊等电子版本的出版发行，使用者在不损害作品完整性的前提下可以对作品进行必要的改动，但
								该使用仅限在授权期限内一次性编辑使用，如需再次编辑使
								用需要另行获取授权。该使用不包括广告目的之使用，如需广告使用，需要另行获取广告授权。
							</p>
							<label class="select set-year">
								<span>授权地域:</span>
								<select>
								  <option>中国</option>
								  <option>德国</option>
								  <option>法国</option>
								</select>
							</label>
							<label class="select set-year">
								<span>授权年限:</span>
								<select>
								  <option>1年</option>
								  <option>2年</option>
								  <option>3年</option>
								  <option>4年</option>
								  <option>5年</option>
								</select>
								<a href="#">增加规格</a>
							</label>
							<label class="select set-year">
								<span>授权规格:</span>
								<select>
								  <option>原图尺寸</option>
								  <option>M</option>
								  <option>L</option>
								  <option>XL</option>
								  <option>XXL</option>
								</select>
							</label>
							<label class="select set-year">
								<span>使用方式:</span>
								<select>
								  <option>一次</option>
								  <option>两次</option>
								  <option>多次</option>
								</select>
							</label>
							<label class="select set-year">
								<span>授权价格:</span>
								<input type="text" class="set-sprice"/>
							</label>
						</div>
						<div class="set-c1">
							<label class="checkbox">
							  <input type="checkbox" value="" name="A001">箱包类商品
							</label>
							<p class="set-content">
								该授权方式允许使用者将作品用于互联网、移动互联网、无线新媒体等各类新媒体中的使用，包括电
								子图书、报纸、期刊等电子版本的出版发行，使用者在不损害作品完整性的前提下可以对作品进行必要的改动，但
								该使用仅限在授权期限内一次性编辑使用，如需再次编辑使
								用需要另行获取授权。该使用不包括广告目的之使用，如需广告使用，需要另行获取广告授权。
							</p>
							<label class="select set-year">
								<span>授权地域:</span>
								<select>
								  <option>中国</option>
								  <option>德国</option>
								  <option>法国</option>
								</select>
							</label>
							<label class="select set-year">
								<span>授权年限:</span>
								<select>
								  <option>1年</option>
								  <option>2年</option>
								  <option>3年</option>
								  <option>4年</option>
								  <option>5年</option>
								</select>
								<a href="#">增加规格</a>
							</label>
							<label class="select set-year">
								<span>授权规格:</span>
								<select>
								  <option>原图尺寸</option>
								  <option>M</option>
								  <option>L</option>
								  <option>XL</option>
								  <option>XXL</option>
								</select>
							</label>
							<label class="select set-year">
								<span>使用方式:</span>
								<select>
								  <option>一次</option>
								  <option>两次</option>
								  <option>多次</option>
								</select>
							</label>
							<label class="select set-year">
								<span>授权价格:</span>
								<input type="text" class="set-sprice"/>
							</label>
						</div>
						<div class="set-c1">
							<label class="checkbox">
							  <input type="checkbox" value="" name="A001">纺织类商品
							</label>
							<p class="set-content">
								该授权方式允许使用者将作品用于互联网、移动互联网、无线新媒体等各类新媒体中的使用，包括电
								子图书、报纸、期刊等电子版本的出版发行，使用者在不损害作品完整性的前提下可以对作品进行必要的改动，但
								该使用仅限在授权期限内一次性编辑使用，如需再次编辑使
								用需要另行获取授权。该使用不包括广告目的之使用，如需广告使用，需要另行获取广告授权。
							</p>
							<label class="select set-year">
								<span>授权地域:</span>
								<select>
								  <option>中国</option>
								  <option>德国</option>
								  <option>法国</option>
								</select>
							</label>
							<label class="select set-year">
								<span>授权年限:</span>
								<select>
								  <option>1年</option>
								  <option>2年</option>
								  <option>3年</option>
								  <option>4年</option>
								  <option>5年</option>
								</select>
								<a href="#">增加规格</a>
							</label>
							<label class="select set-year">
								<span>授权规格:</span>
								<select>
								  <option>原图尺寸</option>
								  <option>M</option>
								  <option>L</option>
								  <option>XL</option>
								  <option>XXL</option>
								</select>
							</label>
							<label class="select set-year">
								<span>使用方式:</span>
								<select>
								  <option>一次</option>
								  <option>两次</option>
								  <option>多次</option>
								</select>
							</label>
							<label class="select set-year">
								<span>授权价格:</span>
								<input type="text" class="set-sprice"/>
							</label>
						</div>
						<div class="set-c1">
							<label class="checkbox">
							  <input type="checkbox" value="" name="A001">餐具类商品
							</label>
							<p class="set-content">
								该授权方式允许使用者将作品用于互联网、移动互联网、无线新媒体等各类新媒体中的使用，包括电
								子图书、报纸、期刊等电子版本的出版发行，使用者在不损害作品完整性的前提下可以对作品进行必要的改动，但
								该使用仅限在授权期限内一次性编辑使用，如需再次编辑使
								用需要另行获取授权。该使用不包括广告目的之使用，如需广告使用，需要另行获取广告授权。
							</p>
							<label class="select set-year">
								<span>授权地域:</span>
								<select>
								  <option>中国</option>
								  <option>德国</option>
								  <option>法国</option>
								</select>
							</label>
							<label class="select set-year">
								<span>授权年限:</span>
								<select>
								  <option>1年</option>
								  <option>2年</option>
								  <option>3年</option>
								  <option>4年</option>
								  <option>5年</option>
								</select>
								<a href="#">增加规格</a>
							</label>
							<label class="select set-year">
								<span>授权规格:</span>
								<select>
								  <option>原图尺寸</option>
								  <option>M</option>
								  <option>L</option>
								  <option>XL</option>
								  <option>XXL</option>
								</select>
							</label>
							<label class="select set-year">
								<span>使用方式:</span>
								<select>
								  <option>一次</option>
								  <option>两次</option>
								  <option>多次</option>
								</select>
							</label>
							<label class="select set-year">
								<span>授权价格:</span>
								<input type="text" class="set-sprice"/>
							</label>
						</div>
						<div class="set-c1">
							<label class="checkbox">
							  <input type="checkbox" value="" name="A001">建材装饰类商品
							</label>
							<p class="set-content">
								该授权方式允许使用者将作品用于互联网、移动互联网、无线新媒体等各类新媒体中的使用，包括电
								子图书、报纸、期刊等电子版本的出版发行，使用者在不损害作品完整性的前提下可以对作品进行必要的改动，但
								该使用仅限在授权期限内一次性编辑使用，如需再次编辑使
								用需要另行获取授权。该使用不包括广告目的之使用，如需广告使用，需要另行获取广告授权。
							</p>
							<label class="select set-year">
								<span>授权地域:</span>
								<select>
								  <option>中国</option>
								  <option>德国</option>
								  <option>法国</option>
								</select>
							</label>
							<label class="select set-year">
								<span>授权年限:</span>
								<select>
								  <option>1年</option>
								  <option>2年</option>
								  <option>3年</option>
								  <option>4年</option>
								  <option>5年</option>
								</select>
								<a href="#">增加规格</a>
							</label>
							<label class="select set-year">
								<span>授权规格:</span>
								<select>
								  <option>原图尺寸</option>
								  <option>M</option>
								  <option>L</option>
								  <option>XL</option>
								  <option>XXL</option>
								</select>
							</label>
							<label class="select set-year">
								<span>使用方式:</span>
								<select>
								  <option>一次</option>
								  <option>两次</option>
								  <option>多次</option>
								</select>
							</label>
							<label class="select set-year">
								<span>授权价格:</span>
								<input type="text" class="set-sprice"/>
							</label>
						</div>
						<div class="set-c1">
							<label class="checkbox">
							  <input type="checkbox" value="" name="A001">文具类商品
							</label>
							<p class="set-content">
								该授权方式允许使用者将作品用于互联网、移动互联网、无线新媒体等各类新媒体中的使用，包括电
								子图书、报纸、期刊等电子版本的出版发行，使用者在不损害作品完整性的前提下可以对作品进行必要的改动，但
								该使用仅限在授权期限内一次性编辑使用，如需再次编辑使
								用需要另行获取授权。该使用不包括广告目的之使用，如需广告使用，需要另行获取广告授权。
							</p>
							<label class="select set-year">
								<span>授权地域:</span>
								<select>
								  <option>中国</option>
								  <option>德国</option>
								  <option>法国</option>
								</select>
							</label>
							<label class="select set-year">
								<span>授权年限:</span>
								<select>
								  <option>1年</option>
								  <option>2年</option>
								  <option>3年</option>
								  <option>4年</option>
								  <option>5年</option>
								</select>
								<a href="#">增加规格</a>
							</label>
							<label class="select set-year">
								<span>授权规格:</span>
								<select>
								  <option>原图尺寸</option>
								  <option>M</option>
								  <option>L</option>
								  <option>XL</option>
								  <option>XXL</option>
								</select>
							</label>
							<label class="select set-year">
								<span>使用方式:</span>
								<select>
								  <option>一次</option>
								  <option>两次</option>
								  <option>多次</option>
								</select>
							</label>
							<label class="select set-year">
								<span>授权价格:</span>
								<input type="text" class="set-sprice"/>
							</label>
						</div>
						<div class="set-c1">
							<label class="checkbox">
							  <input type="checkbox" value="" name="A001">日用品类商品
							</label>
							<p class="set-content">
								该授权方式允许使用者将作品用于互联网、移动互联网、无线新媒体等各类新媒体中的使用，包括电
								子图书、报纸、期刊等电子版本的出版发行，使用者在不损害作品完整性的前提下可以对作品进行必要的改动，但
								该使用仅限在授权期限内一次性编辑使用，如需再次编辑使
								用需要另行获取授权。该使用不包括广告目的之使用，如需广告使用，需要另行获取广告授权。
							</p>
							<label class="select set-year">
								<span>授权地域:</span>
								<select>
								  <option>中国</option>
								  <option>德国</option>
								  <option>法国</option>
								</select>
							</label>
							<label class="select set-year">
								<span>授权年限:</span>
								<select>
								  <option>1年</option>
								  <option>2年</option>
								  <option>3年</option>
								  <option>4年</option>
								  <option>5年</option>
								</select>
								<a href="#">增加规格</a>
							</label>
							<label class="select set-year">
								<span>授权规格:</span>
								<select>
								  <option>原图尺寸</option>
								  <option>M</option>
								  <option>L</option>
								  <option>XL</option>
								  <option>XXL</option>
								</select>
							</label>
							<label class="select set-year">
								<span>使用方式:</span>
								<select>
								  <option>一次</option>
								  <option>两次</option>
								  <option>多次</option>
								</select>
							</label>
							<label class="select set-year">
								<span>授权价格:</span>
								<input type="text" class="set-sprice"/>
							</label>
						</div>
						<div class="set-c1">
							<label class="checkbox">
							  <input type="checkbox" value="" name="A001">工艺品类商品
							</label>
							<p class="set-content">
								该授权方式允许使用者将作品用于互联网、移动互联网、无线新媒体等各类新媒体中的使用，包括电
								子图书、报纸、期刊等电子版本的出版发行，使用者在不损害作品完整性的前提下可以对作品进行必要的改动，但
								该使用仅限在授权期限内一次性编辑使用，如需再次编辑使
								用需要另行获取授权。该使用不包括广告目的之使用，如需广告使用，需要另行获取广告授权。
							</p>
							<label class="select set-year">
								<span>授权地域:</span>
								<select>
								  <option>中国</option>
								  <option>德国</option>
								  <option>法国</option>
								</select>
							</label>
							<label class="select set-year">
								<span>授权年限:</span>
								<select>
								  <option>1年</option>
								  <option>2年</option>
								  <option>3年</option>
								  <option>4年</option>
								  <option>5年</option>
								</select>
								<a href="#">增加规格</a>
							</label>
							<label class="select set-year">
								<span>授权规格:</span>
								<select>
								  <option>原图尺寸</option>
								  <option>M</option>
								  <option>L</option>
								  <option>XL</option>
								  <option>XXL</option>
								</select>
							</label>
							<label class="select set-year">
								<span>使用方式:</span>
								<select>
								  <option>一次</option>
								  <option>两次</option>
								  <option>多次</option>
								</select>
							</label>
							<label class="select set-year">
								<span>授权价格:</span>
								<input type="text" class="set-sprice"/>
							</label>
						</div>
						<div class="set-c1">
							<label class="checkbox">
							  <input type="checkbox" value="" name="A001">包装类商品
							</label>
							<p class="set-content">
								该授权方式允许使用者将作品用于互联网、移动互联网、无线新媒体等各类新媒体中的使用，包括电
								子图书、报纸、期刊等电子版本的出版发行，使用者在不损害作品完整性的前提下可以对作品进行必要的改动，但
								该使用仅限在授权期限内一次性编辑使用，如需再次编辑使
								用需要另行获取授权。该使用不包括广告目的之使用，如需广告使用，需要另行获取广告授权。
							</p>
							<label class="select set-year">
								<span>授权地域:</span>
								<select>
								  <option>中国</option>
								  <option>德国</option>
								  <option>法国</option>
								</select>
							</label>
							<label class="select set-year">
								<span>授权年限:</span>
								<select>
								  <option>1年</option>
								  <option>2年</option>
								  <option>3年</option>
								  <option>4年</option>
								  <option>5年</option>
								</select>
								<a href="#">增加规格</a>
							</label>
							<label class="select set-year">
								<span>授权规格:</span>
								<select>
								  <option>原图尺寸</option>
								  <option>M</option>
								  <option>L</option>
								  <option>XL</option>
								  <option>XXL</option>
								</select>
							</label>
							<label class="select set-year">
								<span>使用方式:</span>
								<select>
								  <option>一次</option>
								  <option>两次</option>
								  <option>多次</option>
								</select>
							</label>
							<label class="select set-year">
								<span>授权价格:</span>
								<input type="text" class="set-sprice"/>
							</label>
						</div>
						
						
						
						
						
						
						
						
					</div>
					<!-- 出租权 -->
					<div class="tab-pane sqset" id="tF">
						<div class="set-c1">
							<label class="checkbox">
							  <input type="checkbox" value="" name="A001">全部
							</label>
							<p class="set-content">
								该授权方式允许使用者将作品用于互联网、移动互联网、无线新媒体等各类新媒体中的使用，包括电
								子图书、报纸、期刊等电子版本的出版发行，使用者在不损害作品完整性的前提下可以对作品进行必要的改动，但
								该使用仅限在授权期限内一次性编辑使用，如需再次编辑使
								用需要另行获取授权。该使用不包括广告目的之使用，如需广告使用，需要另行获取广告授权。
							</p>
							<label class="select set-year">
								<span>授权地域:</span>
								<select>
								  <option>中国</option>
								  <option>德国</option>
								  <option>法国</option>
								</select>
							</label>
							<label class="select set-year">
								<span>授权年限:</span>
								<select>
								  <option>1年</option>
								  <option>2年</option>
								  <option>3年</option>
								  <option>4年</option>
								  <option>5年</option>
								</select>
								<a href="#">增加规格</a>
							</label>
							<label class="select set-year">
								<span>授权规格:</span>
								<select>
								  <option>原图尺寸</option>
								  <option>M</option>
								  <option>L</option>
								  <option>XL</option>
								  <option>XXL</option>
								</select>
							</label>
							<label class="select set-year">
								<span>使用方式:</span>
								<select>
								  <option>一次</option>
								  <option>两次</option>
								  <option>多次</option>
								</select>
							</label>
							<label class="select set-year">
								<span>授权价格:</span>
								<input type="text" class="set-sprice"/>
							</label>
						</div>							
					</div>
					<!-- 版权样品使用权 -->
					<div class="tab-pane sqset" id="tG">
						<div class="set-c1">
							<label class="checkbox">
							  <input type="checkbox" value="" name="A001">全部
							</label>
							<p class="set-content">
								该授权方式允许使用者将作品用于互联网、移动互联网、无线新媒体等各类新媒体中的使用，包括电
								子图书、报纸、期刊等电子版本的出版发行，使用者在不损害作品完整性的前提下可以对作品进行必要的改动，但
								该使用仅限在授权期限内一次性编辑使用，如需再次编辑使
								用需要另行获取授权。该使用不包括广告目的之使用，如需广告使用，需要另行获取广告授权。
							</p>
							<label class="select set-year">
								<span>授权地域:</span>
								<select>
								  <option>中国</option>
								  <option>德国</option>
								  <option>法国</option>
								</select>
							</label>
							<label class="select set-year">
								<span>授权年限:</span>
								<select>
								  <option>1年</option>
								  <option>2年</option>
								  <option>3年</option>
								  <option>4年</option>
								  <option>5年</option>
								</select>
								<a href="#">增加规格</a>
							</label>
							<label class="select set-year">
								<span>授权规格:</span>
								<select>
								  <option>原图尺寸</option>
								  <option>M</option>
								  <option>L</option>
								  <option>XL</option>
								  <option>XXL</option>
								</select>
							</label>
							<label class="select set-year">
								<span>使用方式:</span>
								<select>
								  <option>一次</option>
								  <option>两次</option>
								  <option>多次</option>
								</select>
							</label>
							<label class="select set-year">
								<span>授权价格:</span>
								<input type="text" class="set-sprice"/>
							</label>
						</div>
					</div>
					<!-- 放映权 -->
					<div class="tab-pane sqset" id="tH">
						<div class="set-c1">
							<label class="checkbox">
							  <input type="checkbox" value="" name="A001">全部
							</label>
							<p class="set-content">
								该授权方式允许使用者将作品用于互联网、移动互联网、无线新媒体等各类新媒体中的使用，包括电
								子图书、报纸、期刊等电子版本的出版发行，使用者在不损害作品完整性的前提下可以对作品进行必要的改动，但
								该使用仅限在授权期限内一次性编辑使用，如需再次编辑使
								用需要另行获取授权。该使用不包括广告目的之使用，如需广告使用，需要另行获取广告授权。
							</p>
							<label class="select set-year">
								<span>授权地域:</span>
								<select>
								  <option>中国</option>
								  <option>德国</option>
								  <option>法国</option>
								</select>
							</label>
							<label class="select set-year">
								<span>授权年限:</span>
								<select>
								  <option>1年</option>
								  <option>2年</option>
								  <option>3年</option>
								  <option>4年</option>
								  <option>5年</option>
								</select>
								<a href="#">增加规格</a>
							</label>
							<label class="select set-year">
								<span>授权规格:</span>
								<select>
								  <option>原图尺寸</option>
								  <option>M</option>
								  <option>L</option>
								  <option>XL</option>
								  <option>XXL</option>
								</select>
							</label>
							<label class="select set-year">
								<span>使用方式:</span>
								<select>
								  <option>一次</option>
								  <option>两次</option>
								  <option>多次</option>
								</select>
							</label>
							<label class="select set-year">
								<span>授权价格:</span>
								<input type="text" class="set-sprice"/>
							</label>
						</div>
					</div>
					<!-- 复制权 -->
					<div class="tab-pane sqset" id="tI">
						<div class="set-c1">
							<label class="checkbox">
							  <input type="checkbox" value="" name="A001">全部
							</label>
							<p class="set-content">
								该授权方式允许使用者将作品用于互联网、移动互联网、无线新媒体等各类新媒体中的使用，包括电
								子图书、报纸、期刊等电子版本的出版发行，使用者在不损害作品完整性的前提下可以对作品进行必要的改动，但
								该使用仅限在授权期限内一次性编辑使用，如需再次编辑使
								用需要另行获取授权。该使用不包括广告目的之使用，如需广告使用，需要另行获取广告授权。
							</p>
							<label class="select set-year">
								<span>授权地域:</span>
								<select>
								  <option>中国</option>
								  <option>德国</option>
								  <option>法国</option>
								</select>
							</label>
							<label class="select set-year">
								<span>授权年限:</span>
								<select>
								  <option>1年</option>
								  <option>2年</option>
								  <option>3年</option>
								  <option>4年</option>
								  <option>5年</option>
								</select>
								<a href="#">增加规格</a>
							</label>
							<label class="select set-year">
								<span>授权规格:</span>
								<select>
								  <option>原图尺寸</option>
								  <option>M</option>
								  <option>L</option>
								  <option>XL</option>
								  <option>XXL</option>
								</select>
							</label>
							<label class="select set-year">
								<span>使用方式:</span>
								<select>
								  <option>一次</option>
								  <option>两次</option>
								  <option>多次</option>
								</select>
							</label>
							<label class="select set-year">
								<span>授权价格:</span>
								<input type="text" class="set-sprice"/>
							</label>
						</div>
					</div>
					<!-- 信息网络传播权 -->
					<div class="tab-pane sqset" id="tJ">
						<div class="set-c1">
							<label class="checkbox">
							  <input type="checkbox" value="" name="A001">全部
							</label>
							<p class="set-content">
								该授权方式允许使用者将作品用于互联网、移动互联网、无线新媒体等各类新媒体中的使用，包括电
								子图书、报纸、期刊等电子版本的出版发行，使用者在不损害作品完整性的前提下可以对作品进行必要的改动，但
								该使用仅限在授权期限内一次性编辑使用，如需再次编辑使
								用需要另行获取授权。该使用不包括广告目的之使用，如需广告使用，需要另行获取广告授权。
							</p>
							<label class="select set-year">
								<span>授权地域:</span>
								<select>
								  <option>中国</option>
								  <option>德国</option>
								  <option>法国</option>
								</select>
							</label>
							<label class="select set-year">
								<span>授权年限:</span>
								<select>
								  <option>1年</option>
								  <option>2年</option>
								  <option>3年</option>
								  <option>4年</option>
								  <option>5年</option>
								</select>
								<a href="#">增加规格</a>
							</label>
							<label class="select set-year">
								<span>授权规格:</span>
								<select>
								  <option>原图尺寸</option>
								  <option>M</option>
								  <option>L</option>
								  <option>XL</option>
								  <option>XXL</option>
								</select>
							</label>
							<label class="select set-year">
								<span>使用方式:</span>
								<select>
								  <option>一次</option>
								  <option>两次</option>
								  <option>多次</option>
								</select>
							</label>
							<label class="select set-year">
								<span>授权价格:</span>
								<input type="text" class="set-sprice"/>
							</label>
						</div>
					</div>
					<!-- 原品交易权 -->
					<div class="tab-pane sqset" id="tK">
						<div class="set-c1">
							<label class="checkbox">
							  <input type="checkbox" value="" name="A001">全部
							</label>
							<p class="set-content">
								该授权方式允许使用者将作品用于互联网、移动互联网、无线新媒体等各类新媒体中的使用，包括电
								子图书、报纸、期刊等电子版本的出版发行，使用者在不损害作品完整性的前提下可以对作品进行必要的改动，但
								该使用仅限在授权期限内一次性编辑使用，如需再次编辑使
								用需要另行获取授权。该使用不包括广告目的之使用，如需广告使用，需要另行获取广告授权。
							</p>
							<label class="select set-year">
								<span>授权地域:</span>
								<select>
								  <option>中国</option>
								  <option>德国</option>
								  <option>法国</option>
								</select>
							</label>
							<label class="select set-year">
								<span>授权年限:</span>
								<select>
								  <option>1年</option>
								  <option>2年</option>
								  <option>3年</option>
								  <option>4年</option>
								  <option>5年</option>
								</select>
								<a href="#">增加规格</a>
							</label>
							<label class="select set-year">
								<span>授权规格:</span>
								<select>
								  <option>原图尺寸</option>
								  <option>M</option>
								  <option>L</option>
								  <option>XL</option>
								  <option>XXL</option>
								</select>
							</label>
							<label class="select set-year">
								<span>使用方式:</span>
								<select>
								  <option>一次</option>
								  <option>两次</option>
								  <option>多次</option>
								</select>
							</label>
							<label class="select set-year">
								<span>授权价格:</span>
								<input type="text" class="set-sprice"/>
							</label>
						</div>
					</div>
					<!-- 汇编权 -->
					<div class="tab-pane sqset" id="tL">
						<div class="set-c1">
							<label class="checkbox">
							  <input type="checkbox" value="" name="A001">全部
							</label>
							<p class="set-content">
								该授权方式允许使用者将作品用于互联网、移动互联网、无线新媒体等各类新媒体中的使用，包括电
								子图书、报纸、期刊等电子版本的出版发行，使用者在不损害作品完整性的前提下可以对作品进行必要的改动，但
								该使用仅限在授权期限内一次性编辑使用，如需再次编辑使
								用需要另行获取授权。该使用不包括广告目的之使用，如需广告使用，需要另行获取广告授权。
							</p>
							<label class="select set-year">
								<span>授权地域:</span>
								<select>
								  <option>中国</option>
								  <option>德国</option>
								  <option>法国</option>
								</select>
							</label>
							<label class="select set-year">
								<span>授权年限:</span>
								<select>
								  <option>1年</option>
								  <option>2年</option>
								  <option>3年</option>
								  <option>4年</option>
								  <option>5年</option>
								</select>
								<a href="#">增加规格</a>
							</label>
							<label class="select set-year">
								<span>授权规格:</span>
								<select>
								  <option>原图尺寸</option>
								  <option>M</option>
								  <option>L</option>
								  <option>XL</option>
								  <option>XXL</option>
								</select>
							</label>
							<label class="select set-year">
								<span>使用方式:</span>
								<select>
								  <option>一次</option>
								  <option>两次</option>
								  <option>多次</option>
								</select>
							</label>
							<label class="select set-year">
								<span>授权价格:</span>
								<input type="text" class="set-sprice"/>
							</label>
						</div>
					</div>
					<!-- 其他 -->
					<div class="tab-pane sqset" id="tM">
						<div class="set-c1">
							<label class="checkbox">
							  <input type="checkbox" value="" name="A001">全部
							</label>
							<p class="set-content">
								该授权方式允许使用者将作品用于互联网、移动互联网、无线新媒体等各类新媒体中的使用，包括电
								子图书、报纸、期刊等电子版本的出版发行，使用者在不损害作品完整性的前提下可以对作品进行必要的改动，但
								该使用仅限在授权期限内一次性编辑使用，如需再次编辑使
								用需要另行获取授权。该使用不包括广告目的之使用，如需广告使用，需要另行获取广告授权。
							</p>
							<label class="select set-year">
								<span>授权地域:</span>
								<select>
								  <option>中国</option>
								  <option>德国</option>
								  <option>法国</option>
								</select>
							</label>
							<label class="select set-year">
								<span>授权年限:</span>
								<select>
								  <option>1年</option>
								  <option>2年</option>
								  <option>3年</option>
								  <option>4年</option>
								  <option>5年</option>
								</select>
								<a href="#">增加规格</a>
							</label>
							<label class="select set-year">
								<span>授权规格:</span>
								<select>
								  <option>原图尺寸</option>
								  <option>M</option>
								  <option>L</option>
								  <option>XL</option>
								  <option>XXL</option>
								</select>
							</label>
							<label class="select set-year">
								<span>使用方式:</span>
								<select>
								  <option>一次</option>
								  <option>两次</option>
								  <option>多次</option>
								</select>
							</label>
							<label class="select set-year">
								<span>授权价格:</span>
								<input type="text" class="set-sprice"/>
							</label>
						</div>
					</div>
					
				</div>
			</div>
		</fieldset>
	</div>
	<!-- add mode end -->
	
	<!-- 底部 -->
	<div class="well well-large footer">
		<div class="container">
			<ul class="breadcrumb">
			  <li><a href="#">关于我们</a><span class="divider">|</span></li>
			  <li><a href="#">联系我们</a><span class="divider">|</span></li>
			  <li><a href="#">客户服务</a><span class="divider">|</span></li>
			  <li><a href="#">法律声明和隐私条款</a></li>
			</ul>
			<p class="muted"><span>Copyright &copy; 2012-2013 Cblink. All Rights Reserved.</span></p>
			<p class="muted"><span class="">bootstrap｜京ICP备12044750号-2 </span></p>
		</div>
	</div>
	
	<!-- 登录窗口 -->
	<div class="modal hide fade" id="login-modal" data-login>
		  <div class="login-out">				
			<button type="button" class="close ms-login-colse">×</button>
			<div class="tit-color">账号登录</div>
			<div class="tabbable ms-loginwrap">					
				<div class="tab-content ms-personal">				
					<div class="tab-pane active form-horizontal" id="tab1">
						<div class="control-group">
							<label class="control-label ms-username" for="login">用户名：</label>
							<div class="controls ms-control">
								<input type="text" autocomplete="off"  placeholder="用户名" id="login_name">
								<a href="#" class="help-inline ms-forget">忘记账号？</a>
								<p class="text-error ms-tishi"></p>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label ms-username" for="login">密码：</label>
							<div class="controls ms-control">
								<input type="password" autocomplete="off"  placeholder="密码" id="login_pwd">
								<a href="#" class="help-inline ms-forget">忘记密码？</a>
								<p class="text-error ms-tishi"></p>
							</div>
						</div>					
						
						<div class="form-actions ms-form-action">
							<button type="submit" class="btn ms-denglu">登 录</button>
							<a hrsf="#" class="ms-zhuce">注册新账号</a>
						</div>	
						
					</div>
				</div>
			</div>
		</div>
	</div>	
	<!-- 登录窗口 -->
	
	
	
	<script type="text/javascript" src="javascripts/jquery/jquery-1.7.2.min.js"></script>
	<script type="text/javascript" src="javascripts/bootstrap/bootstrap.min.js"></script>
	<script type="text/javascript" src="javascripts/gallery/base/1.0.0/base.js"></script>
	<script type="text/javascript" src="javascripts/gallery/ajax/1.0.0/ajax.js"></script>
	<script type="text/javascript" src="javascripts/gallery/md5/1.0.0/md5.js"></script>
	<script type="text/javascript" src="javascripts/app/personal/1.0.0/personal.js"></script>
	<script type="text/javascript" src="javascripts/app/login/1.0.0/login.js"></script>
  </body>
</html>