<!DOCTYPE html>
<html>
  <head>
    <title>首页</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!-- Bootstrap css file v2.2.1 -->
	<link rel="stylesheet" type="text/css" href="stylesheets/bootstrap/bootstrap.css">
	
	<!--[if lte IE 6]>
	<link rel="stylesheet" type="text/css" href="../stylesheets/bootstrap/bootstrap-ie6.css">
	<![endif]-->
	
	<!-- bsie additional css patch -->
	<!-- <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap/ie.css"> -->
	
	<link rel="stylesheet" href="stylesheets/front/notice.css" />
  </head>
  <body>
	<!-- 头部 -->
	<div class="navbar navbar-fixed-top header">
		<div class="container">
			<a href="">yellow world</a>
			<a href="#" data-toggle="modal" data-target="#login-modal" class="login pull-right">登录</a>
			<span class="divider pull-right">|</span>
			<a href="#" class="rigister pull-right">注册</a>
		</div>
	</div>
	
	<!-- 新闻主体 -->
	<div class="notice">
		<div class="container" >
			<div class="mbp">
				<div class="logo">
					
				</div>
				<div class="video-cover" style="display: none;"></div>
				<div class="title">公示细则</div>
				<div class="sub-title">
					<p>1. 使用花瓣采集工具使用花瓣采集工具使用花瓣采集工具使用花瓣采集工具使用花瓣采集工具</p>
					<p>2. 使用花瓣采集工具</p>
					<p>3. 使用花瓣采集工具</p>
				</div>
			</div>
		</div>
	</div>
	
	
	<div id="wrapper">
	<!-- 品牌列表开始 -->
	  <div class="brand-list">
		<div class="brand-bd cle" id="brand-waterfall">
			<!-- 循环字母模块 item -->
			<div class="item" id="brand-a">
				<h3>毛鞍山</h3>
				<p><a href="#" target="_blank">ARDELL/艾黛尔</a></p>
				<p><a href="#" target="_blank">ANNASUI/安娜苏</a></p>
				<p><a href="#" target="_blank">ETUDEHOUSE/爱丽小屋</a></p>
				<p><a href="#" target="_blank">abeeco</a></p>
				<p><a href="#" target="_blank">AFU/阿芙</a></p>
				<p><a href="#" target="_blank">Egyptian-Magic-Cream/埃及魔法膏</a></p>
				<p><a href="#" target="_blank">adidas/阿迪达斯</a></p>
			</div>
			<div class="item" id="brand-b">
				<h3>罗斯福</h3>
				<p><a href="#" target="_blank">HERBORIST/佰草集</a></p>
				<p><a href="#" target="_blank">BURBERRY/巴宝莉/博柏利</a></p>
				<p><a href="#" target="_blank">BIOTHERM/碧欧泉</a></p>
				<p><a href="#" target="_blank">benefit/贝玲妃</a></p>
				<p><a href="#" target="_blank">Bavii/柏羽</a></p>
				<p><a href="#" target="_blank">PaulSmith/保罗史密夫</a></p>
				<p><a href="#" target="_blank">Bobbi Brown/芭比布朗</a></p>
				<p><a href="#" target="_blank">BVLGARI/宝格丽</a></p>
				<p><a href="#" target="_blank">PURE&MILD/泊美</a></p>
				<p><a href="#" target="_blank">baviphat/芭比菲特</a></p>
				<p><a href="#" target="_blank">Peter Thomas Roth/彼得罗夫</a></p>
				<p><a href="#" target="_blank">BeDOOK/比度克</a></p>
				<p><a href="#" target="_blank">BIODERMA/贝德玛</a></p>
				<p><a href="#" target="_blank">BKBarry-MBlistex/碧唇</a></p>
			</div>
			<div class="item" id="brand-c">
				<h3>安立斯</h3>
				<p><a href="#" target="_blank">Fenix/长生鸟</a></p>
				<p><a href="#" target="_blank">For Beloved One/宠爱之名</a></p>
				<p><a href="#" target="_blank">CHARMZONE/婵真</a></p>
			</div>
			<div class="item" id="brand-d">
				<h3>王德志</h3>
				<p><a href="#" target="_blank">Dr.Jart+Dr.MJDior/迪奥</a></p>
				<p><a href="#" target="_blank">dodo</a></p>
				<p><a href="#" target="_blank">Dior/迪奥</a></p>
				<p><a href="#" target="_blank">Dove/多芬</a></p>
				<p><a href="#" target="_blank">DHC/蝶翠诗</a></p>
				<p><a href="#" target="_blank">Davidoff/大卫杜夫</a></p>
			</div>
			<div class="item" id="brand-e">
				<h3>齐白石</h3>
				<p><a href="#" target="_blank">N-Dorphin/恩朵娉</a></p>
				<p><a href="#" target="_blank">OPERA/娥佩兰</a></p>
				<p><a href="#" target="_blank">ELF</a></p>
				<p><a href="#" target="_blank">eos</a></p>
			</div>
			<div class="item" id="brand-f">
				<h3>李欣</h3>
				<p><a href="#" target="_blank">芳草集</a></p>
				<p><a href="#" target="_blank">THEFACESHOP/菲诗小铺</a></p>
				<p><a href="#" target="_blank">Fanxishop/凡茜</a></p>
				<p><a href="#" target="_blank">FANCL/芳珂（芳凯尔）</a></p>
				<p><a href="#" target="_blank">VERSACE/范思哲</a></p>
			</div>
			<div class="item" id="brand-g">
				<h3>孙河</h3>
				<p><a href="#" target="_blank">ARDELL/艾黛尔</a></p>
				<p><a href="#" target="_blank">ANNASUI/安娜苏</a></p>
				<p><a href="#" target="_blank">ETUDEHOUSE/爱丽小屋</a></p>
				<p><a href="#" target="_blank">abeeco</a></p>
				<p><a href="#" target="_blank">AFU/阿芙</a></p>
				<p><a href="#" target="_blank">Egyptian-Magic-Cream/埃及魔法膏</a></p>
				<p><a href="#" target="_blank">adidas/阿迪达斯</a></p>
			</div>
			<div class="item" id="brand-h">
				<h3>王毅</h3>
				<p><a href="#" target="_blank">LAMER/海蓝之谜</a></p>
				<p><a href="#" target="_blank">BOCOTON/海诺丝丽</a></p>
				<p><a href="#" target="_blank">CO.E/韩伊</a></p>
				<p><a href="#" target="_blank">Herbacin/贺本清</a></p>
				<p><a href="#" target="_blank">花瑶花</a></p>
				<p><a href="#" target="_blank">花漾美姬</a></p>
				<p><a href="#" target="_blank">HEY NATURE/韩彩妮</a></p>
				<p><a href="#" target="_blank">Hipitch/黑龙堂</a></p>
			</div>
			<div class="item" id="brand-l">
				<h3>石磊</h3>
				<p><a href="#" target="_blank">LAMER/海蓝之谜</a></p>
				<p><a href="#" target="_blank">BOCOTON/海诺丝丽</a></p>
				<p><a href="#" target="_blank">CO.E/韩伊</a></p>
				<p><a href="#" target="_blank">CO.E/韩伊</a></p>
				<p><a href="#" target="_blank">CO.E/韩伊</a></p>
				<p><a href="#" target="_blank">Herbacin/贺本清</a></p>
				<p><a href="#" target="_blank">花瑶花</a></p>
				<p><a href="#" target="_blank">花漾美姬</a></p>
				<p><a href="#" target="_blank">HEY NATURE/韩彩妮</a></p>
				<p><a href="#" target="_blank">Hipitch/黑龙堂</a></p>
			</div>
			<div class="item" id="brand-m">
				<h3>Sian</h3>
				<p><a href="#" target="_blank">LAMER/海蓝之谜</a></p>
				<p><a href="#" target="_blank">BOCOTON/海诺丝丽</a></p>
				<p><a href="#" target="_blank">CO.E/韩伊</a></p>
				<p><a href="#" target="_blank">Herbacin/贺本清</a></p>
				<p><a href="#" target="_blank">花瑶花</a></p>
				<p><a href="#" target="_blank">花漾美姬</a></p>
				<p><a href="#" target="_blank">HEY NATURE/韩彩妮</a></p>
				<p><a href="#" target="_blank">Hipitch/黑龙堂</a></p>
			</div>
			<div class="item" id="brand-n">
				<h3>李旺斯</h3>
				<p><a href="#" target="_blank">LAMER/海蓝之谜</a></p>
				<p><a href="#" target="_blank">LAMER/海蓝之谜</a></p>
				<p><a href="#" target="_blank">LAMER/海蓝之谜</a></p>
				<p><a href="#" target="_blank">BOCOTON/海诺丝丽</a></p>
				<p><a href="#" target="_blank">CO.E/韩伊</a></p>
				<p><a href="#" target="_blank">Herbacin/贺本清</a></p>
				<p><a href="#" target="_blank">花瑶花</a></p>
				<p><a href="#" target="_blank">花漾美姬</a></p>
				<p><a href="#" target="_blank">HEY NATURE/韩彩妮</a></p>
				<p><a href="#" target="_blank">Hipitch/黑龙堂</a></p>
			</div>
		</div>
	  </div>
	  <div class="more"><p>加载更多...</p></div>
	  <!-- 品牌列表 end -->
	</div>
	<!-- 底部 -->
	<div class="well well-large footer">
		<div class="container">
			<ul class="breadcrumb">
			  <li><a href="#">关于我们</a><span class="divider">|</span></li>
			  <li><a href="#">联系我们</a><span class="divider">|</span></li>
			  <li><a href="#">客户服务</a><span class="divider">|</span></li>
			  <li><a href="#">法律声明和隐私条款</a></li>
			</ul>
			<p class="muted"><span>Copyright &copy; 2012-2013 Cblink. All Rights Reserved.</span></p>
			<p class="muted"><span class="">中国艺术版权银行｜京ICP备12044750号-2 </span></p>
		</div>
	</div>
	
	<!-- 登录窗口 -->
	<div class="modal hide fade" id="login-modal" data-login>
		  <div class="login-out">
			<button type="button" class="close ms-login-colse">×</button>
			<div class="tit-color">账号登录</div>
			<div class="tabbable ms-loginwrap">
				<div class="tab-content ms-personal">
					<div class="tab-pane active form-horizontal" id="tab1">
						<div class="control-group">
							<label class="control-label ms-username" for="login">用户名：</label>
							<div class="controls ms-control">
								<input type="text" autocomplete="off"  placeholder="用户名" id="login_name">
								<a href="#" class="help-inline ms-forget">忘记账号？</a>
								<p class="text-error ms-tishi"></p>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label ms-username" for="login">密码：</label>
							<div class="controls ms-control">
								<input type="password" autocomplete="off"  placeholder="密码" id="login_pwd">
								<a href="#" class="help-inline ms-forget">忘记密码？</a>
								<p class="text-error ms-tishi"></p>
							</div>
						</div>
						
						<div class="form-actions ms-form-action">
							<button type="submit" class="btn ms-denglu">登 录</button>
							<a hrsf="#" class="ms-zhuce">注册新账号</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- 登录窗口 -->
	
	
	
	<script type="text/javascript" src="javascripts/jquery/jquery-1.7.2.min.js"></script>
	<script type="text/javascript" src="javascripts/bootstrap/bootstrap.min.js"></script>
	<script type="text/javascript" src="javascripts/gallery/base/1.0.0/base.js"></script>
	<script type="text/javascript" src="javascripts/gallery/ajax/1.0.0/ajax.js"></script>
	<script type="text/javascript" src="javascripts/gallery/md5/1.0.0/md5.js"></script>
	<script type="text/javascript" src="javascripts/app/register/1.0.0/register.js"></script>
	<script type="text/javascript" src="javascripts/app/login/1.0.0/login.js"></script>
<!-- 	<script type="text/javascript" src="javascripts/app/special/1.0.0/amazingslider.js"></script>
	<script type="text/javascript" src="javascripts/app/special/1.0.0/initslider-1.js"></script>
	<script type="text/javascript" src="javascripts/gallery/duoshuo/1.0.0/embed.js"></script> -->
	<!-- <script type="text/javascript" src="javascripts/app/special/1.0.0/special.js"></script> -->
	 <script>

$(function(){
  

$('#brand-waterfall').waterfall();
});


// 瀑布流插件
// pannysp 2013.4.9
;(function ($) {
    $.fn.waterfall = function(options) {
        var df = {
            item: '.item',
            margin: 15,
            addfooter: true
        };
        options = $.extend(df, options);
        return this.each(function() {
            var $box = $(this), pos = [],
            _box_width = $box.width(),
            $items = $box.find(options.item),
            _owidth = $items.eq(0).outerWidth() + options.margin,
            _oheight = $items.eq(0).outerHeight() + options.margin,
            _num = Math.floor(_box_width/_owidth);

            (function() {
                var i = 0;
                for (; i < _num; i++) {
                    pos.push([i*_owidth,0]);
                } 
            })();

            $items.each(function() {
                var _this = $(this),
                _temp = 0,
                _height = _this.outerHeight() + options.margin;

                _this.hover(function() {
                    _this.addClass('hover');
                },function() {
                    _this.removeClass('hover');
                });

                for (var j = 0; j < _num; j++) {
                    if(pos[j][1] < pos[_temp][1]){
                        //暂存top值最小那列的index
                        _temp = j;
                    }
                }
                this.style.cssText = 'left:'+pos[_temp][0]+'px; top:'+pos[_temp][1]+'px;';
                //插入后，更新下该列的top值
                pos[_temp][1] = pos[_temp][1] + _height;
            });

            // 计算top值最大的赋给外围div
            (function() {
                var i = 0, tops = [];
                for (; i < _num; i++) {
                    tops.push(pos[i][1]);
                }
                tops.sort(function(a,b) {
                    return a-b;
                });
                $box.height(tops[_num-1]);

                //增加尾部填充div
                if(options.addfooter){
                    addfooter(tops[_num-1]);
                }

            })();

            function addfooter(max) {
                var addfooter = document.createElement('div');
                addfooter.className = 'item additem';
                for (var i = 0; i < _num; i++) {
                    if(max != pos[i][1]){
                        var clone = addfooter.cloneNode(),
                        _height = max - pos[i][1] - options.margin;
                        clone.style.cssText = 'left:'+pos[i][0]+'px; top:'+pos[i][1]+'px; height:'+_height+'px;';
                        $box[0].appendChild(clone);
                    }
                }
            }

        });
    }
})(jQuery);</script>
  </body>
</html>