<!DOCTYPE html>
<html>
  <head>
    <title>首页</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!-- Bootstrap css file v2.2.1 -->
	<link rel="stylesheet" type="text/css" href="stylesheets/bootstrap/bootstrap.css">
	
	<!--[if lte IE 6]>
	<link rel="stylesheet" type="text/css" href="../stylesheets/bootstrap/bootstrap-ie6.css">
	<![endif]-->
	
	<!-- bsie additional css patch -->
	<!-- <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap/ie.css"> -->
	
	<link rel="stylesheet" href="stylesheets/front/v-index.css" />
	<link rel="stylesheet" href="stylesheets/front/normalize.css" />
	<link rel="stylesheet" href="stylesheets/front/default.css" />
	<link rel="stylesheet" href="stylesheets/front/ideal-image-slider.css" />
	<link rel="stylesheet" href="stylesheets/gallery/duoshuo/1.0.0/embed.default.css" />

	
  </head>
  <body>
	<!-- 头部 -->
	<div class="navbar navbar-fixed-top header">
		<div class="container">
			<a href="">yellow world</a>
			<a href="#" data-toggle="modal" data-target="#login-modal" class="login pull-right">登录</a>
			<span class="divider pull-right">|</span>
			<a href="#" class="rigister pull-right">注册</a>
		</div>
	</div>
	
	<!-- 新闻主体 -->
	<div class="container main">
		<div class="top clearfix" id="topTitle" style="width: 1200px;">
		  <div class="left"> <a class="logo" target="_blank" href="http://ent.163.com/special/yllhhhz/"><img src="http://img1.cache.netease.com/f2e/ent/comicStrip/images/cs_logo.png" height="72" width="190" alt="娱乐连环画"><span class="cs_num">76</span></a>
			<h2 class="picBigTitle">聚焦90后网络女主播
			  <p class="titleInfo"><span class="date">2014-10-23 10:47:26</span> <a href="http://img6.cache.netease.com/photo/0003/2014-10-20/A90NVAJP54GS0003.jpg" target="_blank" hidefocus="true" class="vieworigin">原图</a><a href="http://comment.ent.163.com/photoview_bbs/PHOTGI5J000354GS.html" target="_blank" hidefocus="true" class="comment">评论 <span>( </span><b>38630</b><span> )</span></a></p>
			</h2>
		  </div>
    </div>
		<div id="slider">
			<img src="/images/special/1.jpg" data-src-2x="/images/special/1@2x.jpg" title="Baloons" alt="This is the caption content" />
			<img data-src="/images/special/2.jpg" data-src-2x="/images/special/2@2x.jpg" src="" title="Skateboard" alt="Captions <em>can</em> contain <strong>HTML</strong>" />
			<img data-src="/images/special/3.jpg" data-src-2x="/images/special/3@2x.jpg" src="" alt="This will be overridden" data-caption="#caption-3" />
			<img data-src="/images/special/4.jpg" data-src-2x="/images/special/4@2x.jpg" src="" title="A title without a caption" alt="" />
			<img data-src="/images/special/3.jpg" data-src-2x="/images/special/4@2x.jpg" src="" title="Silly?" alt="A really really really really really really really really really really really really really really really really really really really really really really really really really long caption" />
		</div>
		 <div id="caption-3" style="display:none;">
			<h3>External Caption</h3>
			<p>When using <a href="#">HTML in captions</a> it might be better to use an external caption.</p>
		</div>
		<div class="container">
			<div class="ds-thread" data-thread-key="special_01" data-title="聚焦90后网络女主播" data-url="http://localhost:3000/special"></div>
		</div>
	</div>
	
	<!-- 底部 -->
	<div class="well well-large footer">
		<div class="container">
			<ul class="breadcrumb">
			  <li><a href="#">关于我们</a><span class="divider">|</span></li>
			  <li><a href="#">联系我们</a><span class="divider">|</span></li>
			  <li><a href="#">客户服务</a><span class="divider">|</span></li>
			  <li><a href="#">法律声明和隐私条款</a></li>
			</ul>
			<p class="muted"><span>Copyright &copy; 2012-2013 Cblink. All Rights Reserved.</span></p>
			<p class="muted"><span class="">中国艺术版权银行｜京ICP备12044750号-2 </span></p>
		</div>
	</div>
	
	<!-- 登录窗口 -->
	<div class="modal hide fade" id="login-modal" data-login>
		  <div class="login-out">				
			<button type="button" class="close ms-login-colse">×</button>
			<div class="tit-color">账号登录</div>
			<div class="tabbable ms-loginwrap">					
				<div class="tab-content ms-personal">				
					<div class="tab-pane active form-horizontal" id="tab1">
						<div class="control-group">
							<label class="control-label ms-username" for="login">用户名：</label>
							<div class="controls ms-control">
								<input type="text" autocomplete="off"  placeholder="用户名" id="login_name">
								<a href="#" class="help-inline ms-forget">忘记账号？</a>
								<p class="text-error ms-tishi"></p>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label ms-username" for="login">密码：</label>
							<div class="controls ms-control">
								<input type="password" autocomplete="off"  placeholder="密码" id="login_pwd">
								<a href="#" class="help-inline ms-forget">忘记密码？</a>
								<p class="text-error ms-tishi"></p>
							</div>
						</div>					
						
						<div class="form-actions ms-form-action">
							<button type="submit" class="btn ms-denglu">登 录</button>
							<a hrsf="#" class="ms-zhuce">注册新账号</a>
						</div>					
					</div>
				</div>
			</div>
		</div>
	</div>	
	<!-- 登录窗口 -->
	
	
	
	<!-- <script type="text/javascript" src="javascripts/jquery/jquery-1.7.2.min.js"></script>
	<script type="text/javascript" src="javascripts/bootstrap/bootstrap.min.js"></script>
	<script type="text/javascript" src="javascripts/gallery/base/1.0.0/base.js"></script>
	<script type="text/javascript" src="javascripts/gallery/ajax/1.0.0/ajax.js"></script>
	<script type="text/javascript" src="javascripts/gallery/md5/1.0.0/md5.js"></script>
	<script type="text/javascript" src="javascripts/app/register/1.0.0/register.js"></script>
	<script type="text/javascript" src="javascripts/app/login/1.0.0/login.js"></script> -->
	<script type="text/javascript" src="javascripts/app/special/1.0.0/ideal-image-slider.js"></script>
	<script type="text/javascript" src="javascripts/app/special/1.0.0/iis-captions.js"></script>
	<script type="text/javascript" src="javascripts/gallery/duoshuo/1.0.0/embed.js"></script>
	<!-- <script type="text/javascript" src="javascripts/app/special/1.0.0/special.js"></script> -->
	<script type="text/javascript">
		var slider = new IdealImageSlider.Slider('#slider');
		slider.addCaptions();
		slider.start();
		var duoshuoQuery = {short_name:"ygh"};
	</script>
  </body>
</html>