<!DOCTYPE html>
<html>
  <head>
    <title>首页</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!-- Bootstrap css file v2.2.1 -->
	<link rel="stylesheet" type="text/css" href="stylesheets/bootstrap/bootstrap.css">
	
	<!--[if lte IE 6]>
	<link rel="stylesheet" type="text/css" href="../stylesheets/bootstrap/bootstrap-ie6.css">
	<![endif]-->
	
	<!-- bsie additional css patch -->
	<!-- <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap/ie.css"> -->
	
	<link rel="stylesheet" href="stylesheets/front/v-index.css" />
	<link rel="stylesheet" href="stylesheets/front/normalize.css" />
	<link rel="stylesheet" href="stylesheets/front/default.css" />
	<link rel="stylesheet" href="stylesheets/front/amazingslider-1.css" />
	<link rel="stylesheet" href="stylesheets/gallery/duoshuo/1.0.0/embed.default.css" />

	
  </head>
  <body>
	<!-- 头部 -->
	<div class="navbar navbar-fixed-top header">
		<div class="container">
			<a href="">yellow world</a>
			<a href="#" data-toggle="modal" data-target="#login-modal" class="login pull-right">登录</a>
			<span class="divider pull-right">|</span>
			<a href="#" class="rigister pull-right">注册</a>
		</div>
	</div>
	
	<!-- 新闻主体 -->
	<div class="container main">
		<div class="top clearfix" id="topTitle" style="width: 1200px;">
		  <div class="left"> <a class="logo" target="_blank" href="http://ent.163.com/special/yllhhhz/"><img src="/images/special/index/special.png" height="72" width="190" alt="娱乐连环画"></a>
			<h2 class="picBigTitle">博纳尚斯推出中国艺术版权作品展
			  <p class="titleInfo"><span class="date">2014-09-30 10:47:26</span></p>
			</h2>
		  </div>
		</div>
		<!-- 轮播图 -->
		<div class="slider_back">
			<div id="amazingslider-wrapper-1" style="display:block;position:relative;max-width:1080px;padding-left:0px; padding-right:245px;margin:0px auto 0px;">
				<div id="amazingslider-1" style="display:block;position:relative;margin:0 auto;">
					<ul class="amazingslider-slides" style="display:none;">
						<li><img src="/images/special/index/art.jpg" alt="中国宋庄·首届中国艺术版权作品展" data-description="博纳尚斯（北京）国际文化传媒有限公司日前推出“中国宋庄·首届中国艺术版权作品展”，展出近20位艺术家的作品，在注重作品艺术性的同时，侧重在版权商业应用开发领域的可行性。" />
						</li>
						<li><img src="/images/special/index/art_show.jpg" alt="中国艺术版权银行影像服务平台开幕式" data-description="中国艺术版权银行影像服务平台以北京宋庄——全国最大的原创艺术家聚集地为立足点，辐射全国，并在宋庄拥有占地四千多平米的博纳尚斯国际展览中心，构建成一个全面的、立体的、多方位的艺术作品版权服务平台。" />
						</li>
						<li><img src="/images/special/index/start.jpg" alt="中国艺术版权银行领导合影" data-description="中国艺术版权银行影像服务平台致力服务于全国原创艺术家、艺术团体及艺术版权拥有者的影像服务平台。" />
						</li>
						<li><img src="/images/special/index/today.jpg" alt="中国艺术版权银行欢迎仪式" data-description="此次首届艺术版权作品展经过近半年时间筹划，由专家评委团评审出近二十位艺术家的各种题材和类型的作品，内容涵盖了国画、油画、书法、雕塑等" />
						</li>
						<li><img src="/images/special/index/tomorrow.jpg" alt="中国艺术版权银行合影" data-description="此次首届艺术版权作品展经过近半年时间筹划，由专家评委团评审出近二十位艺术家的各种题材和类型的作品，内容涵盖了国画、油画、书法、雕塑等" />
						</li>
					</ul>
					<ul class="amazingslider-thumbnails" style="display:none;">
						<li><img src="/images/special/index/art-tn.jpg" alt="中国宋庄·首届中国艺术版权作品展" /></li>
						<li><img src="/images/special/index/art_show-tn.jpg" alt="中国艺术版权银行影像服务平台开幕式" /></li>
						<li><img src="/images/special/index/start-tn.jpg" alt="中国艺术版权银行领导合影" /></li>
						<li><img src="/images/special/index/today-tn.jpg" alt="中国艺术版权银行欢迎仪式" /></li>
						<li><img src="/images/special/index/tomorrow-tn.jpg" alt="中国艺术版权银行合影" /></li>
					</ul>
				</div>
			</div>
		</div>
		<!-- 轮播图end -->
		
		<!-- 视频 -->
			<!-- <embed src="http://player.youku.com/player.php/sid/XODA5MTMwNzg4/v.swf" allowFullScreen="true" quality="high" width="1170" height="500" align="middle" allowScriptAccess="always" type="application/x-shockwave-flash"></embed> -->
		<!-- 视频end -->
		
		<!-- 多说评论框 start -->
		<div class="container duoshuo_back">
			<div class="ds-thread" data-thread-key="special_01" data-title="聚焦90后网络女主播" data-url="http://localhost:3000/special"></div>
		</div>
		<!-- 多说评论框 end -->
	</div>
	
	<!-- 底部 -->
	<div class="well well-large footer">
		<div class="container">
			<ul class="breadcrumb">
			  <li><a href="#">关于我们</a><span class="divider">|</span></li>
			  <li><a href="#">联系我们</a><span class="divider">|</span></li>
			  <li><a href="#">客户服务</a><span class="divider">|</span></li>
			  <li><a href="#">法律声明和隐私条款</a></li>
			</ul>
			<p class="muted"><span>Copyright &copy; 2012-2013 Cblink. All Rights Reserved.</span></p>
			<p class="muted"><span class="">中国艺术版权银行｜京ICP备12044750号-2 </span></p>
		</div>
	</div>
	
	<!-- 登录窗口 -->
	<div class="modal hide fade" id="login-modal" data-login>
		  <div class="login-out">
			<button type="button" class="close ms-login-colse">×</button>
			<div class="tit-color">账号登录</div>
			<div class="tabbable ms-loginwrap">
				<div class="tab-content ms-personal">
					<div class="tab-pane active form-horizontal" id="tab1">
						<div class="control-group">
							<label class="control-label ms-username" for="login">用户名：</label>
							<div class="controls ms-control">
								<input type="text" autocomplete="off"  placeholder="用户名" id="login_name">
								<a href="#" class="help-inline ms-forget">忘记账号？</a>
								<p class="text-error ms-tishi"></p>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label ms-username" for="login">密码：</label>
							<div class="controls ms-control">
								<input type="password" autocomplete="off"  placeholder="密码" id="login_pwd">
								<a href="#" class="help-inline ms-forget">忘记密码？</a>
								<p class="text-error ms-tishi"></p>
							</div>
						</div>
						
						<div class="form-actions ms-form-action">
							<button type="submit" class="btn ms-denglu">登 录</button>
							<a hrsf="#" class="ms-zhuce">注册新账号</a>
						</div>					
					</div>
				</div>
			</div>
		</div>
	</div>	
	<!-- 登录窗口 -->
	
	
	
	<script type="text/javascript" src="javascripts/jquery/jquery-1.7.2.min.js"></script>
	<!-- <script type="text/javascript" src="javascripts/bootstrap/bootstrap.min.js"></script>
	<script type="text/javascript" src="javascripts/gallery/base/1.0.0/base.js"></script>
	<script type="text/javascript" src="javascripts/gallery/ajax/1.0.0/ajax.js"></script>
	<script type="text/javascript" src="javascripts/gallery/md5/1.0.0/md5.js"></script>
	<script type="text/javascript" src="javascripts/app/register/1.0.0/register.js"></script>
	<script type="text/javascript" src="javascripts/app/login/1.0.0/login.js"></script> -->
	<script type="text/javascript" src="javascripts/app/special/1.0.0/amazingslider.js"></script>
	<script type="text/javascript" src="javascripts/app/special/1.0.0/initslider-1.js"></script>
	<script type="text/javascript" src="javascripts/gallery/duoshuo/1.0.0/embed.js"></script>
	<!-- <script type="text/javascript" src="javascripts/app/special/1.0.0/special.js"></script> -->
	<script type="text/javascript">
	var duoshuoQuery = {short_name:"ygh"};
	</script>
  </body>
</html>