<!DOCTYPE html>
<html>
  <head>
    <title>专题页</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!-- Bootstrap css file v2.2.1 -->
	<link rel="stylesheet" type="text/css" href="stylesheets/bootstrap/bootstrap.css">
	
	<!--[if lte IE 6]>
	<link rel="stylesheet" type="text/css" href="../stylesheets/bootstrap/bootstrap-ie6.css">
	<![endif]-->
	
	<!-- bsie additional css patch -->
	<!-- <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap/ie.css"> -->
	
	<link rel="stylesheet" href="stylesheets/front/notice.css" />
	<link rel="stylesheet" href="stylesheets/front/zhuanti.css" />
  </head>
  <body>
	<!-- 头部 -->
	<div class="navbar navbar-fixed-top header">
		<div class="container">
			<a href="">yellow world</a>
			<a href="#" data-toggle="modal" data-target="#login-modal" class="login pull-right">登录</a>
			<span class="divider pull-right">|</span>
			<a href="#" class="rigister pull-right">注册</a>
		</div>
	</div>
	
	<!-- 新闻主体{专题} -->
	<div class="notice">
		<div class="container" >
			<div class="mbp">
				<div class="logo">
					<embed src="http://player.youku.com/player.php/sid/XODEyOTExNjY4/v.swf" allowFullScreen="true" quality="high" width="402" height="250" align="middle" allowScriptAccess="always" type="application/x-shockwave-flash"  wmode="transparent"></embed>
				</div>
				<div class="video-cover" style="display: none;"></div>
				<div class="title">公示细则</div>
				<div class="sub-title">
					<p>1. 使用花瓣采集工具使用花瓣采集工具使用花瓣采集工具使用花瓣采集工具使用花瓣采集工具</p>
					<p>2. 使用花瓣采集工具</p>
					<p>3. 使用花瓣采集工具</p>
				</div>
			</div>
		</div>
	</div>
	
	<!-- 简介部分 -->
	<div class="z-wrap">
		<div id="z-rticlecontent">
			<h2 data-page-model="title"> “生死战”大幕已启</h2>
			<p data-page-model="text">陪伴我们度过了28个年头的天津一汽走到了“生死存亡”的时刻。10月27日晚，天津一汽首款都市SUV骏派D60正式上市，售价在6.49万至9.99万元之间。骏派
			D60，这个被孕育五年才产下的新生儿成功将大家的目光再次聚焦在了天津一汽身上。
			10月27日晚，天津一汽首款都市SUV骏派D60正式上市，售价在6.49万至9.99万元之间。骏派D60，这个被孕育五年才产下的新生儿成功将大家的目光再次聚焦在了天津一汽身上。
			10月27日晚，天津一汽首款都市SUV骏派D60正式上市，售价在6.49万至9.99万元之间。骏派D60，这个被孕育五年才产下的新生儿成功将大家的目光再次聚焦在了天津一汽身上。
			10月27日晚，天津一汽首款都市SUV骏派D60正式上市，售价在6.49万至9.99万元之间。骏派D60，这个被孕育五年才产下的新生儿成功将大家的目光再次聚焦在了天津一汽身上。
			10月27日晚，天津一汽首款都市SUV骏派D60正式上市，售价在6.49万至9.99万元之间。骏派D60，这个被孕育五年才产下的新生儿成功将大家的目光再次聚焦在了天津一汽身上。
			10月27日晚，天津一汽首款都市SUV骏派D60正式上市，售价在6.49万至9.99万元之间。骏派D60，这个被孕育五年才产下的新生儿成功将大家的目光再次聚焦在了天津一汽身上。</p>
			<p data-page-model="text">对天津一汽来说，骏派D着的是天津一汽意欲“翻身”的梦想。</p>
			<h2 data-page-model="title"> “生死战”大幕已启</h2>
			<p data-page-model="text">陪伴我们度过了28个年头的天津一汽走到了“生死存亡”的时刻。10月27日晚，天津一汽首款都市SUV骏派D60正式上市，售价在6.49万至9.99万元之间。骏派
			D60，这个被孕育五年才产下的新生儿成功将大家的目光再次聚焦在了天津一汽身上。
			10月27日晚，天津一汽首款都市SUV骏派D60正式上市，售价在6.49万至9.99万元之间。骏派D60，这个被孕育五年才产下的新生儿成功将大家的目光再次聚焦在了天津一汽身上。
			10月27日晚，天津一汽首款都市SUV骏派D60正式上市，售价在6.49万至9.99万元之间。骏派D60，这个被孕育五年才产下的新生儿成功将大家的目光再次聚焦在了天津一汽身上。
			10月27日晚，天津一汽首款都市SUV骏派D60正式上市，售价在6.49万至9.99万元之间。骏派D60，这个被孕育五年才产下的新生儿成功将大家的目光再次聚焦在了天津一汽身上。
			10月27日晚，天津一汽首款都市SUV骏派D60正式上市，售价在6.49万至9.99万元之间。骏派D60，这个被孕育五年才产下的新生儿成功将大家的目光再次聚焦在了天津一汽身上。
			10月27日晚，天津一汽首款都市SUV骏派D60正式上市，售价在6.49万至9.99万元之间。骏派D60，这个被孕育五年才产下的新生儿成功将大家的目光再次聚焦在了天津一汽身上。</p>
			<p data-page-model="text">对天津一汽来说，骏派D着的是天津一汽意欲“翻身”的梦想。</p>
		</div>
	</div>
		
	
	<!-- 底部 -->
	<div class="well well-large footer">
		<div class="container">
			<ul class="breadcrumb">
			  <li><a href="#">关于我们</a><span class="divider">|</span></li>
			  <li><a href="#">联系我们</a><span class="divider">|</span></li>
			  <li><a href="#">客户服务</a><span class="divider">|</span></li>
			  <li><a href="#">法律声明和隐私条款</a></li>
			</ul>
			<p class="muted"><span>Copyright &copy; 2012-2013 Cblink. All Rights Reserved.</span></p>
			<p class="muted"><span class="">中国艺术版权银行｜京ICP备12044750号-2 </span></p>
		</div>
	</div>
	
	<!-- 登录窗口 -->
	<div class="modal hide fade" id="login-modal" data-login>
		  <div class="login-out">
			<button type="button" class="close ms-login-colse">×</button>
			<div class="tit-color">账号登录</div>
			<div class="tabbable ms-loginwrap">
				<div class="tab-content ms-personal">
					<div class="tab-pane active form-horizontal" id="tab1">
						<div class="control-group">
							<label class="control-label ms-username" for="login">用户名：</label>
							<div class="controls ms-control">
								<input type="text" autocomplete="off"  placeholder="用户名" id="login_name">
								<a href="#" class="help-inline ms-forget">忘记账号？</a>
								<p class="text-error ms-tishi"></p>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label ms-username" for="login">密码：</label>
							<div class="controls ms-control">
								<input type="password" autocomplete="off"  placeholder="密码" id="login_pwd">
								<a href="#" class="help-inline ms-forget">忘记密码？</a>
								<p class="text-error ms-tishi"></p>
							</div>
						</div>
						
						<div class="form-actions ms-form-action">
							<button type="submit" class="btn ms-denglu">登 录</button>
							<a hrsf="#" class="ms-zhuce">注册新账号</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- 登录窗口 -->
	
	
  </body>
</html>
