body{background:#eee;}
/* header */
.header{background:#CC3333;padding:1em;}
.header a{color:#fff;}
.header .divider{color:#fff;margin:0 0.5em;font-size:12px;opacity:0.5;}
/* body */
.body{margin:100px auto 10px auto;height:800px;min-height:800px;}
.body .form-register{margin-left:180px;}
.body .form-register .pwd-level{width:56px;}
.body .form-register .file{opacity: 0;filter: alpha(opacity=0);display: block;position: absolute;left: 220px;top: 0;z-index: 200;height: 30px;width: 50px;overflow: hidden;font-size: 8px;}
.body .file_area{position:relative;}
/* footer */
.well.footer{text-align:center;font-size:12px;color:#99999;margin:8px 0;padding:8px;}
.well.footer .breadcrumb{margin-bottom:0;}
.well.footer .breadcrumb a{color:#999;}
.well.footer p{margin-bottom:2px;}
/* login */
.tab-pane .ms-tishi {font-size: 0.8em; color: #c5c1c1;}
.container .row .login-out,#login-modal .login-out{background: #fff;border: 1px #afaaaa solid;padding: 0 0 20px; border-radius: 5px;}
.tabbable .ms-personal {width: 80%;margin: 0 auto;}
.tab-pane .ms-forget {float:right;font-size: .8em;}
.tab-pane .ms-forget a:first-child {color: #bababa;}
.login-out .ms-loginwrap {padding-top: 30px;}
.login-out .ms-login-colse {padding: 5px 10px 0 0;}
.login-out .tit-color {width: 100%;height: 30px;background: #CC3333; border-radius: 5px 5px 0 0;}
.tab-pane .ms-denglu {background: #CC3333;}

#login-modal{width:300px;}
#login-modal .login-out{margin-left:0;}





