body{background:#eee;}
/* header */
.header{background:#CC3333;padding:1em;}
.header a{color:#fff;}
.header .divider{color:#fff;margin:0 0.5em;font-size:12px;opacity:0.5;}
/* body */
.body{margin:80px auto 80px auto;}
.body .form-register{margin-left:180px;}