.body{margin:60px auto 10px auto;}
#user_card {background: #fff;margin-top: 60px;position: relative;box-shadow: 0 0 4px rgba(0,0,0,.2)}
#user_card .inner {height: 170px;background: #fff;position: relative;padding-left: 180px;margin-right: 236px;border-right: 1px solid #EDEDED;}
#user_card .inner.without-side {margin-right: 0;border-right: 0}
#user_card .maozi {width: 150px;height: 100px;background: #fff;border-radius: 4px;box-shadow: 0 0 4px rgba(0,0,0,.2);position: absolute;left: 15px;top: -40px}
#user_card .avatar-unit {background: #fff;border-radius: 4px;position: absolute;left: 20px;top: -35px;width: 140px}
#user_card .avatar-unit .img {display: block;height: 140px}
#user_card .avatar-unit a img {max-height: 140px;max-width: 140px}
#user_card .avatar-unit .counts {background: #fcfcfc;text-align: center}
#user_card .avatar-unit .counts .followers {display: block;float: left;width: 70px;height: 40px;padding-top: 10px;border-right: 1px solid #EDEDED;text-decoration: none}
#user_card .avatar-unit .counts .follows {display: block;height: 40px;padding-top: 10px;text-decoration: none}
#user_card .avatar-unit .counts .num {font-size: 16px;font-weight: 700;color: #444;line-height: 1;margin-bottom: 5px}
#user_card .avatar-unit .counts .sub {font-size: 12px;line-height: 1;color: #999}
#user_card .avatar-unit .counts a:hover div {color: #C90000}
#user_card .head-line {margin: 20px 0 10px;line-height: 1;position: relative}
#user_card .head-line .name {font-size: 24px;font-weight: 700;color: #444;display: inline-block;margin-right: 10px}
#user_card .head-line .medal {display: inline-block;position: relative;margin-right: 6px}
#user_card .head-line .v-icon {width: 18px;height: 18px;display: inline-block;margin-right: 6px}
#user_card .head-line .medal-info {position: fixed;display: none;padding: 10px 15px;background-color: #fff;font-size: 12px;color: #444;background-clip: padding-box;border: 1px rgba(0,0,0,.07);box-shadow: 0 1px 3px rgba(0,0,0,.3)}
#user_card .head-line .medal-info .arrow {position: absolute;width: 16px;height: 8px;bottom: -8px;right: 0;right: 50%;margin-right: -2px;background: url(/img/medals/profile_arrow.png) no-repeat}
#user_card .head-line .medal-info .medal-header {font-size: 12px;line-height: 18px;color: #999;margin-bottom: 8px}
#user_card .head-line .medal-info .medal-header .icon {width: 16px;height: 18px;margin-right: 4px;display: inline-block;background: url(/img/medals/icon_v_info.png) no-repeat}
#user_card .head-line .medal-info .title {vertical-align: top}
#user_card .head-line .medal-info .content {width: auto;max-width: 220px;max-height: 45px;word-break: normal;text-overflow: ellipsis;overflow: hidden;line-height: 1.25}
#user_card .introduction {font-size: 12px;line-height: 12px;color: #999;margin-bottom: 8px}
#user_card .introduction li {list-style: none;display: inline-block;margin-right: 10px;max-width: 190px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis}
#user_card .introduction li em {font-style: normal}
#user_card .introduction li i {display: inline-block;background: url(/img/user_info_icons.svg) no-repeat;width: 12px;height: 12px;margin: 0 6px -2px 0}
.no-svg #user_card .introduction li i {background-image: url(/img/user_info_icons.png)}
#user_card .introduction li i#intro_sex_man {background-position: 0 0}
#user_card .introduction li i#intro_sex_woman {background-position: 0 -29px}
#user_card .introduction li i#intro_location {background-position: 0 -60px}
#user_card .introduction li i#intro_horoscope {background-position: 0 -90px}
#user_card .introduction li i#intro_job {background-position: 0 -120px}
#user_card .about {color: #777;line-height: 1.5;word-wrap: break-word;height: 42px;overflow: hidden;padding-right: 20px;margin-bottom: 10px}
#user_card .action-buttons {position: absolute;right: 20px;top: 20px}
#user_card .action-buttons .btn {margin-left: 10px}
#user_card .report-user {width: 20px;height: 20px;background: url(/img/icon_report.png?new.png) 2px 2px no-repeat;position: absolute;right: 18px;bottom: 18px;cursor: pointer;display: none}
#user_card .report-user:hover {background-position: 2px -28px}
#user_card .report-user:hover {background-position: 2px -58px}
#user_card .inner:hover .report-user {display: block}
#user_card .bindings a {display: inline-block;width: 18px;height: 18px;background: url(/img/profile_social.svg) 0 0 no-repeat;margin-right: 10px}
#user_card .bindings a.weibo:hover {background-position: -30px 0}
#user_card .bindings a.renren {background-position: 0 -30px}
#user_card .bindings a.renren:hover {background-position: -30px -30px}
#user_card .bindings a.tqq {background-position: 0 -60px}
#user_card .bindings a.tqq:hover {background-position: -30px -60px}
#user_card .bindings a.douban {background-position: 0 -90px}
#user_card .bindings a.douban:hover {background-position: -30px -90px}
#user_card .bindings a.link {background-position: 0 -120px}
#user_card .bindings a.link:hover {background-position: -30px -120px}
#user_card .tabs {background: #FAFAFA;border-top: 1px solid #EDEDED;position: relative}
#user_card .tabs .tab {font-size: 14px;height: 48px;line-height: 48px;padding: 0 20px;color: #777;border-right: 1px solid #EDEDED;display: inline-block;text-decoration: none}
#user_card .tabs .tab:hover {color: #9A0000}
#user_card .tabs .active {background: #fff;color: #444;font-weight: 700}
#user_card .tabs .sorting-buttons {width: 400px;text-align: center;position: absolute;left: 50%;top: 8px;margin-left: -200px}
#user_card .tabs .sorting-buttons .rbtn {margin-right: 10px}
#user_card .side {width: 196px;padding: 20px 20px 0;position: absolute;right: 0;top: 0}
#user_card .side h4 {color: #999;margin-bottom: 10px;margin-top: 0;font-size: 14px;font-weight: normal;}
#user_card .side .item {background: #FAFAFA;line-height: 30px;height: 30px;color: #777;display: block;padding-left: 40px;position: relative;margin-bottom: 10px;overflow: hidden;white-space: nowrap}
#user_card .side .item img {position: absolute;width: 30px;height: 30px;left: 0;top: 0}
#user_card .side .item .v-icon {position: relative;width: 18px;height: 18px;margin: 0 0 -4px 4px}
#people_search_item {position: absolute;right: 20px;top: 50%;margin-top: -14px}
.searching-unit input {background: #FAFAFA;border: 1px solid #DDD;padding: 5px 8px;font-size: 14px;color: #BBB;width: 120px;line-height: 16px;border-radius: 3px;box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.06);}
#people_search_item input {width: 178px;background: #fff;border-color: #ececec}
.searching-unit .go {display: block;width: 20px;height: 20px;background: url(/images/personal/menu_sprite.svg) 0 -100px no-repeat;position: absolute;right: 6px;top: 4px;cursor: pointer;}





/* mode */
.clear { clear: both;}
.m-tuijianmd {width: 100%; margin: 10px auto;border: 1px #CC3333 solid; border-top: 3px #CC3333 solid;padding: 1em 0.5em 0;font-size: 14px;}
.m-tuijianmd p { margin: 0;padding: 0;line-height: 2em; color: #646464;}
.m-tuijianmd .p1 { vertical-align: middle;}
.m-add_authorize{float:left;*display: inline;*zoom: 1; border-radius:3px; background:#CC3333; padding:5px 15px; margin:20px 0px 20px 0; cursor:pointer;}
.m-add_authorize .icon{ float:left; *display: inline;*zoom: 1;width:25px; height:25px; background:url(/images/msq_img_icon.png) no-repeat center center; display:block; margin:0px 5px 0px 0px;}
.m-add_authorize .text{ float:left;*display: inline;*zoom: 1; color:#FFF; font-size:15px; line-height:25px;}
#m-name {clear: both; width: 100%; margin: 20px auto;border-top: 1px #CC3333 solid;padding: 20px 0 0;}
#m-name:before {content: ""; height: 0; display: block; clear: both;}
#m-name .m-add-item {width: 100%;height: 30px;line-height: 30px; color: #646464;}
#m-name .m_title {float: left; *display: inline; *zoom: 1; width: 5em;text-align: right;font-size: 14px;}
#m-name .m-add-item .m_content {float: left;*display: inline;*zoom: 1;margin: 0 10px;height: 30px;line-height: 30px;}
#m-name .m-add-item .m_content .m-input-title {width: 324px;}
#m-name .m-add-item .m_content .check_default {margin: 0; height: 30px;vertical-align: middle;padding: 0;}
#m-name .m-add-item .m_content span {vertical-align: middle; font-size: 14px;padding: 0 0 0 3px;}
#m-name .m-add-item .m_content span i {vertical-align: top;}
#m-name .beizhu {clear: both;margin: 10px 0 0;}
#m-name .beizhu textarea {width: 70%; height: 100px;float: left;*display: inline;*zoom: 1;margin: 0 0 0 10px;}

/* 授权设置 */
#tA {background: #F4F4F4;padding: 0.2em;color: #646464;font-size: 14px; line-height: 2em;}
#tA:after {content: ""; height: 0; display: block; clear: both;}
#tA .set-addprice {display: inline-block;*display: inline;*zoom: 1;margin: 0;background: #fff;border:1px #CCC solid;border-radius: 2px;padding:0 0.2em;}


















