.navbar-static-top .container,.navbar-fixed-top .container,.navbar-fixed-bottom .container{width:1170px;}
/* .divider{width:100px;height:0;margin:10px 0;border-bottom:1px solid #eee;} */
/* header */
.header{background:#CC3333;padding:1em;}
.header a{color:#fff;}
.header .divider{color:#fff;margin:0 0.5em;font-size:12px;opacity:0.5;}
/* body */
body{background:url(/images/notice/bg.gif) repeat 0 0}
.container{width:1170px;}
.main{margin:60px auto 0;}
/* body{background:#eee;} */
/* banner */
.banner .hero-unit{background:#fff;padding:60px 0;}
/* .banner .hero-unit .copyright{margin-left:60px;} */
.banner .hero-unit .media-heading{color:#666;}
.banner li{line-height:20px;list-style:none;}
.banner a{color:#3f79d0;font-size:12px;}
.banner a:hover{color:#d80000;text-decoration:none;}
.banner .notice-date,.banner .author{color:#999;font-size:12px;font-style:normal;}
.body{margin:100px auto 10px auto;height:800px;min-height:800px;}
.body .form-register{margin-left:180px;}
.body .form-register .pwd-level{width:56px;}
.body .form-register .file{opacity: 0;filter: alpha(opacity=0);display: block;position: absolute;left: 220px;top: 0;z-index: 200;height: 30px;width: 50px;overflow: hidden;font-size: 8px;}
.body .file_area{position:relative;}
.container .img_logo{width:45px;}
/* notice */
.notice{height: 340px;background: url(/images/notice/about_banner.jpg) center top no-repeat;background-size: cover;position: relative;margin-top:45px;}
.notice .container{position:relative;}
.notice .mbp {width: 528px;height: 306px;background: url(/images/notice/about_tools_mac.png) 0 0 no-repeat;position: absolute;left: 0;top: 34px;}
.mbp>embed {position: absolute;left: 64px;top: 20px;display: block;}
.mbp>video {position: absolute;left: 64px;top: 20px;}
.title {width: 257px;height: 59px;position: absolute;left: 530px;top: 100px;color: #fff;font-size: 2.5em;}
.sub-title {width: 100%; position: absolute;left: 530px;top: 160px}
.sub-title p {color: #fff;}
.notice .mbp .logo {width: 18em;margin: 7.5em auto 0;background: #f12; line-height: 1.2em;}
.notice .mbp .logo h3 {line-height: 1em; text-align: center;}
.notice .mbp .logo h3 span {font-size: 0.7em;line-height: 1em;}










/* list-author */
.list-author{margin-top:1em;}
.list-author .photo{background: url(/images/notice/marry.png) no-repeat 14px 0;width:80px;height:120px;overflow:hidden;padding-left: 20px;}
.list-author .thumbnails li{width:100px;text-align:center;margin:0;padding:1em;border-right:1px dashed #ccc;margin:1em 0;}
/* footer */
.well.footer{text-align:center;font-size:12px;color:#99999;margin:8px 0;padding:8px;}
.well.footer .breadcrumb{margin-bottom:0;}
.well.footer .breadcrumb a{color:#999;}
.well.footer p{margin-bottom:2px;}
/* login */
.form-horizontal .control-group{margin-bottom:5px;height:50px;}
.tab-pane .ms-tishi {font-size: 0.8em; color: #c5c1c1;}
.container .row .login-out,#login-modal .login-out{width: 390px;background: #fff;border: 1px #afaaaa solid;padding: 0 0 20px; border-radius: 5px;}
.tab-pane .ms-username {width: 50px;font-size: .8em;vertical-align: middle;}
.tab-pane .ms-control {margin-left: 60px;}
.tabbable .ms-personal {width: 95%;margin: 0 auto;}
.tab-pane .ms-forget {float:right;font-size: .8em;}
.tab-pane .ms-forget a:first-child {color: #bababa;}
.login-out .ms-loginwrap {padding-top: 30px;}
.login-out .ms-login-colse {padding: 5px 10px 0 0;font-size: 2em;}
.login-out .tit-color {width: 100%;height: 30px;background: #CC3333; border-radius: 5px 5px 0 0;color: #fff;line-height: 30px;text-indent: 1em;font-weight: bolder;}
.tab-pane .ms-denglu {background: #CC3333;color: #fff;}
.tab-pane .ms-checkbox {margin: 0px 0 0 60px;font-size: .8em;}
.tab-pane .controls .ms-forget {float: none;color: #3F79D0;line-height: 30px;}
.tab-pane .ms-form-action {background: transparent;border: none;padding: 0 0 0 60px;margin: 10px 0 0 0;}
.tab-pane .ms-zhuce {margin-left: 20px;font-size: .8em;}

#login-modal{width:300px;margin:-120px 0 0 -150px;}
#login-modal .login-out{margin-left:0;}
#login-modal .ms-denglu{margin-left:0;}


