body{background:#eee;}
/* header */
.header{background:#CC3333;padding:1em;}
.header .title{color:#fff;font-size:1.5em;}

/* body */
.body{margin:100px auto 10px auto;}
.body .form-register{margin-left:180px;}
.body .form-register .pwd-level{width:56px;}
.body .form-register .file{opacity: 0;filter: alpha(opacity=0);display: block;position: absolute;left: 220px;top: 0;z-index: 200;height: 30px;width: 50px;overflow: hidden;font-size: 8px;}
.body .file_area{position:relative;}
.container .img_logo{width:45px;}
