.z-wrap {clear: both;}
#z-rticlecontent {display: block;  width: 1170px; margin: 0 auto; }
#z-rticlecontent h2 {height:60px; background:url(http://mat1.gtimg.com/auto/7day/dongchazhe/h4_bg.png) left center no-repeat; padding-left:50px; font:100 30px/60px "微软雅黑"; margin-top: 30px;}
#z-rticlecontent p {  margin:1.2em 0 0; line-height:2.0em !important;  font:100 14px/26px "宋体";  text-indent:2em;}