<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="css/bootstrap/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="css/app/index.css">
	</head>
	<body>
		<!-- 头部 -->
		<div class="navbar navbar-inverse navbar-fixed-top">
		  <div class="navbar-inner">
			<h4>360彩票</h4>
		  </div>
		</div>
		<!-- 主体 -->
		<div class="container-fluid wrap">
		  <div class="row-fluid">
			<div class="span2 aside-bar">
			  <!--Sidebar content-->
			  <ul class="nav nav-list bs-docs-sidenav affix">
				  <li class=""><a href="#dropdowns"><i class="icon-chevron-right"></i> 下拉菜单</a></li>
				  <li class=""><a href="#buttonGroups"><i class="icon-chevron-right"></i> 按钮组</a></li>
				  <li class=""><a href="#buttonDropdowns"><i class="icon-chevron-right"></i> 按钮下拉菜单</a></li>
				  <li class="active"><a href="#navs"><i class="icon-chevron-right"></i> 导航</a></li>
				  <li class=""><a href="#navbar"><i class="icon-chevron-right"></i> 导航条</a></li>
				  <li class=""><a href="#breadcrumbs"><i class="icon-chevron-right"></i> 面包屑</a></li>
				  <li class=""><a href="#pagination"><i class="icon-chevron-right"></i> 分页</a></li>
				  <li class=""><a href="#labels-badges"><i class="icon-chevron-right"></i> 标签与徽章</a></li>
				  <li class=""><a href="#typography"><i class="icon-chevron-right"></i> 排版</a></li>
				  <li class=""><a href="#thumbnails"><i class="icon-chevron-right"></i> 缩略图</a></li>
				  <li class=""><a href="#alerts"><i class="icon-chevron-right"></i> 警告框</a></li>
				  <li class=""><a href="#progress"><i class="icon-chevron-right"></i> 进度条</a></li>
				  <li class=""><a href="#media"><i class="icon-chevron-right"></i> 媒体对象</a></li>
				  <li class=""><a href="#misc"><i class="icon-chevron-right"></i> Misc</a></li>
				</ul>
			</div>
			<div class="span10">
			  <!--Body content-->
			</div>
		  </div>
		</div>
	</body>
</html>