<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="css/bootstrap/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="css/app/login.css">
	</head>
	<body>
		<!-- 头部 -->
		<div class="navbar navbar-inverse navbar-fixed-top">
		  <div class="navbar-inner">
			<div class="container">
				<h4>360彩票</h4>
			</div>
		  </div>
		</div>
		<!-- 主体 -->
		<div class="container wrap">
			<form class="form-horizontal login-form">
				<fieldset>
					<legend>&nbsp;&nbsp;用户登录</legend>
					<div class="control-group">
						<label class="control-label" for="inputEmail">用户名</label>
						<div class="controls">
						  <input type="text" id="inputEmail" placeholder="请输入用户名">
						</div>
					  </div>
					  <div class="control-group">
						<label class="control-label" for="inputPassword">密  码</label>
						<div class="controls">
						  <input type="password" id="inputPassword" placeholder="密码">
						</div>
					  </div>
					  <div class="control-group">
						<div class="controls">
						  <button type="button" class="btn btn-danger btn-login">登 录</button>
						  <button type="button" class="btn  btn-register">注 册</button>
						</div>
					  </div>
				</fieldset>
			  
			</form>
		</div>
	</body>
</html>